@use '../../../Public/SCSS/Utilities/Variables' as *;
@use '../../../Public/SCSS/Utilities/Mixins' as *;

/////////////////////////////////
// Base

html {
  font-family: MADE Tommy Soft, Roboto Condensed, Purely Me, Century Gothic, Verdana, sans-serif;
  font-variant-ligatures: none;
}

.navigation-header {
  @extend html;
  .navigation-close-icon {
    font-size: 4rem;
    color: rgba($colorOffWhite, 0.8);
    &:hover {
      color: $colorOffWhite;
    }
    &:active {
      color: $primaryColor;
    }
  }
  &__container {
    &__ring {
      &__navigation {
        &__link {
          &__text {
            font-size: 3rem;
            font-weight: bold;
            &,
            &:visited {
              color: rgba($colorOffWhite, 0.8);
            }

            &:hover {
              color: $tertiaryColor;
            }

            &:active {
              color: $primaryColor;
            }
          }
        }
        .clicked {
          .navigation-header__container__ring__navigation__link__text {
            color: $secondaryColorDark;
          }
        }
      }
    }
  }
}

.pentagon-side {
  @extend html;
  color: $colorOffWhite;
}

.button {
  @extend html;
  &--navigation {
    @extend .button;
    font-size: 3rem;
    font-weight: bold;
    color: rgba($colorOffWhite, 0.8);
    &:hover {
      color: $colorOffWhite;
    }
  }
  &--cta {
    @extend .button;
    font-size: 2.4rem;
    color: rgba($colorOffWhite, 0.25);
    text-decoration: none;
    &:hover {
      color: $colorDarkerGrey;
    }
  }
}

.time-toggle {
  font-size: 2.4rem;
  color: rgba($colorOffWhite, 0.8);
  &:hover {
    color: $colorOffWhite;
  }
}

.hero-container {
  .full-name {
    font-size: 15rem;
    color: $primaryColor;
  }
  .position {
    font-size: 5rem;
  }
}

.day {
  &--sky {
    color: $colorDarkerGrey;
    .button {
      &--navigation {
        color: $colorDarkerGrey;
        &:hover {
          color: $colorOffWhite;
        }
      }
    }
  }
  .button {
    &--navigation {
      color: $colorDarkerGrey;
      &:hover {
        color: $colorOffWhite;
      }
    }
  }
}

.night {
  &--sky {
    color: $colorOffWhite;
    .button {
      &--navigation {
        color: $colorOffWhite;
        &:hover {
          color: $colorDarkerGrey;
        }
      }
    }
  }
  .button {
    &--navigation {
      color: $colorOffWhite;
      &:hover {
        color: $colorDarkerGrey;
      }
    }
  }
}

.icon-PureNSpiration_Logo--night {
  font-size: 6rem;
  color: $primaryColor;
}
