@use '../../../Public/SCSS/Utilities/Variables' as *;
@use '../../../Public/SCSS/Utilities/Mixins' as *;

/////////////////////////////////
// Base

html {
  font-family: MADE Tommy Soft, Roboto Condensed, Purely Me, Century Gothic, Verdana, sans-serif;
  font-variant-ligatures: none;
}

.navigation-header {
  @extend html;
  .navigation-close-icon {
    font-size: 4rem;
    color: rgba($colorOffWhite, 0.8);
    &:hover {
      color: $colorOffWhite;
    }
    &:active {
      color: $primaryColor;
    }
  }
  &__container {
    &__ring {
      &__navigation {
        &__link {
          &__text {
            font-size: 3rem;
            font-weight: bold;
            &,
            &:visited {
              color: rgba($colorOffWhite, 0.8);
            }

            &:hover {
              color: $tertiaryColor;
            }

            &:active {
              color: $primaryColor;
            }
          }
        }
        .clicked {
          .navigation-header__container__ring__navigation__link__text {
            color: $secondaryColorDark;
          }
        }
      }
    }
  }
}

.pentagon-side {
  @extend html;
  color: $colorOffWhite;
}

.button {
  @extend html;
  &--navigation {
    @extend .button;
    font-size: 3rem;
    font-weight: bold;
    color: rgba($colorOffWhite, 0.8);
    &:hover {
      color: $colorOffWhite;
    }
  }
  &--cta {
    @extend .button;
    font-size: 2.4rem;
    color: rgba($colorOffWhite, 0.25);
    text-decoration: none;
    &:hover {
      color: $colorDarkerGrey;
    }
  }
  &--send {
    @extend .button;
    font-size: 1.6rem;
    color: rgba($colorOffWhite, 0.8);

    &:hover {
      color: $colorOffWhite;
    }

    &:active {
      color: $colorDarkerGrey;
    }
  }
}

.time-toggle {
  font-size: 2.4rem;
  color: rgba($colorOffWhite, 0.8);
  &:hover {
    color: $colorOffWhite;
  }
}

.hero-container {
  .full-name {
    font-family: MADE Tommy Soft Medium, Roboto Condensed, Purely Me, Century Gothic, Verdana, sans-serif;
    font-size: 15rem;
  }
  .position {
    font-size: 5rem;
  }
}

.flex-container {
  @extend html;
  &--about {
    .about-flex-container {
      &__information-container {
        &__slide {
          &__header {
            &__text {
              font-size: 5rem;
              font-weight: normal;
              // color: $primaryColor;
            }
          }
          &__container {
            &__text-container {
              font-size: 2rem;
            }
            &__inner-slide {
              &__header {
                &__text {
                  font-size: 3rem;
                  font-weight: normal;
                }
              }
              &__skill-container {
                &__skill {
                  font-size: 2.4rem;
                  &:hover {
                    color: $colorMidDarkGrey;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &--projects {
    &__project-navigation {
      .up,
      .down {
        font-size: 3rem;
      }
    }
  }
  &--contact {
    .dual-tab-container {
      &__tab-container {
        &__tab {
          font-size: 2rem;
          &:active {
            color: $secondaryColor;
          }
        }
      }
    }
    .contact-header {
      font-family: MADE Tommy Soft Medium, Roboto Condensed, Purely Me, Century Gothic, Verdana, sans-serif;
      font-size: 6rem;
      color: $primaryColor;
    }
  }
}

.project-container {
  font-family: MADE Tommy Soft Medium, Roboto Condensed, Purely Me, Century Gothic, Verdana, sans-serif;
  font-weight: normal;
  &__name-container {
    &__name {
      font-size: 7rem;
    }
  }
}

.form {
  &__character-count {
    font-size: 1.6rem;
    color: $secondaryColorLight;
  }
  &__label {
    font-size: 2rem;
    color: rgba($secondaryColorDark, 0.8);
    &--message {
      @extend .form__label;
    }
  }
  &__input {
    font-size: 2rem;
    color: rgba($colorOffWhite, 0.8);
    &:focus {
      color: $secondaryColor;
    }

    &:not(:placeholder-shown) + label,
    &:focus + label {
      color: $colorOffWhite;
    }
    &--message {
      font-size: 2rem;
      color: rgba($colorOffWhite, 0.8);
      &:focus {
        color: $secondaryColor;
      }
      &:not(:placeholder-shown) ~ .form__label--message,
      &:focus ~ .form__label--message {
        color: $colorOffWhite;
      }
    }
  }
  &__section {
    &--names {
      &__sub-section {
        .form {
          &__label {
            font-size: 2rem;
            color: rgba($secondaryColorDark, 0.8);
          }
          &__input {
            font-size: 2rem;
            color: rgba($colorOffWhite, 0.8);
            &:focus {
              color: $secondaryColor;
            }
            &:not(:placeholder-shown) + label,
            &:focus + label {
              color: $colorOffWhite;
            }
          }
        }
      }
    }
  }
}

.calendar {
  font-family: MADE Tommy Soft, Roboto Condensed, Purely Me, Verdana, Arial, Helvetica, sans-serif;
  .appoint-me-header {
    .icon-appoint-me-logo {
      font-size: 5rem;
    }

    &__title {
      font-size: 3rem;
    }
  }
  .appoint-me-container {
    &__sub-container {
      &__heading {
        font-size: 3rem;

        &__date {
          font-size: 1.6rem;
          text-align: center;
        }
        .select-date-button {
          font-size: 1.6rem;
          &__icon {
            font-size: 2.4rem;
          }
        }
      }
      &__calendar {
        .hour {
          &__time {
            font-size: 1.8rem;
          }

          &:hover {
            color: $colorOffWhite;
            .hour__time {
              color: $colorOffWhite;
            }
          }
        }

        .appointment {
          &__header {
            font-size: 1.2rem;
          }
          &--spacer {
            font-family: MADE Tommy Soft Medium, Roboto Condensed, Purely Me, Verdana, Arial, Helvetica, sans-serif;
            font-size: 1.1rem;
          }
        }
      }
      .modal {
        &-close-icon {
          font-size: 4rem;
        }

        &--select-date {
          &__header {
            font-size: 5rem;
          }
          &__sub-header {
            font-size: 1.6rem;
          }

          &__header,
          &__sub-header {
            font-weight: bold;
          }
          &__date-picker-container {
            input,
            select {
              font-size: 2rem;
            }
          }

          .button {
            &--modal {
              font-size: 2rem;
            }
          }
        }
        &--select-time {
          &__header {
            font-size: 2.6rem;
            font-weight: bold;
            text-align: center;
          }
          &__sub-header {
            font-size: 2rem;
          }
          .form {
            &__input {
              font-size: 2rem;
              &--hour,
              &--minute,
              &--email,
              &--phone {
                @extend .form__input;
              }
            }
            &__select {
              font-size: 2rem;
              &--hour,
              &--minute {
                @extend .form__select;
              }
            }
            &__label {
              font-size: 2rem;
              &--email,
              &--phone {
                @extend .form__label;
              }
            }

            &__section {
              &__to-header {
                font-size: 2rem;
                font-variant: small-caps;
              }

              &__tod {
                font-size: 2rem;
              }
              .colon {
                font-size: 2rem;
              }

              &--commPreference {
                font-size: 2rem;
              }
            }
            &--appointment {
              .communication-preference-header {
                font-size: 2.6rem;
                font-weight: bold;
                text-align: center;
              }

              .button {
                &--modal {
                  font-size: 2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

.blue-and-white {
  .appoint-me-header {
    .icon-appoint-me-logo {
      color: $colorOffWhite;
    }
    &__title {
      color: $colorOffWhite;
    }
  }
  .appoint-me-container {
    &__heading {
      color: $colorOffWhite;
    }
    &__sub-container {
      &__heading {
        &__date {
          color: $secondaryColor;
        }
        .select-date-button {
          color: rgba($secondaryColor, 0.5);
        }
      }
      &__calendar {
        .hour {
          &__time {
            color: rgba($secondaryColorDark, 0.8);
          }
        }
        .blacked-out {
          color: $colorLightestGrey;
          .hour__time {
            color: $colorOffWhite;
          }
        }

        .appointment {
          &__header {
            color: rgba($colorOffWhite, 0.8);
          }
        }
      }
      .modal {
        &-close-icon {
          color: rgba($colorOffWhite, 0.8);
          &:hover {
            color: $colorOffWhite;
          }
        }
        &--select-date {
          &__header,
          &__sub-header {
            color: $colorOffWhite;
          }
          &__date-picker-container {
            input,
            select {
              color: rgba($colorOffWhite, 0.8);
              text-align: center;
              &:focus {
                color: $colorOffWhite;
              }
            }
          }

          .button {
            &--modal {
              color: rgba($colorOffWhite, 0.8);
              &:hover {
                color: $secondaryColor;
              }
            }
          }
        }
        &--select-time {
          &__header {
            color: $colorOffWhite;
          }
          &__sub-header {
            color: $colorOffWhite;
          }
          .form {
            &__input {
              color: rgba($colorOffWhite, 0.8);
              &:focus {
                color: $colorOffWhite;
                .form__label {
                  color: $colorOffWhite;
                }
              }
              &--hour,
              &--minute,
              &--email,
              &--phone {
                @extend .form__input;
              }
            }
            &__select {
              color: rgba($colorOffWhite, 0.8);
              &:focus {
                color: $colorOffWhite;
              }
              &--hour,
              &--minute {
                @extend .form__select;
                option {
                  color: $secondaryColor;
                }
              }
              .blacked-out {
                color: rgba($colorOffWhite, 0.8);
              }
            }
            &__label {
              color: rgba($colorOffWhite, 0.8);
              &--email,
              &--phone {
                @extend .form__label;
              }
            }

            &__section {
              &__to-header {
                color: $colorOffWhite;
              }
              .colon {
                color: $colorOffWhite;
              }
              &__tod {
                color: $colorOffWhite;
              }
              &--commPreference {
                color: $colorOffWhite;
                label.clicked {
                  color: $secondaryColor;
                }
              }
            }
            &--appointment {
              .communication-preference-header {
                color: $colorOffWhite;
              }
              .button {
                &--modal {
                  color: rgba($colorOffWhite, 0.8);
                  &:hover {
                    color: $secondaryColor;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.blue-and-black {
  .appoint-me-header {
    .icon-appoint-me-logo {
      color: $colorDarkestGrey;
    }
    &__title {
      color: $colorDarkestGrey;
    }
  }
  .appoint-me-container {
    &__heading {
      color: $colorDarkestGrey;
    }
    &__sub-container {
      &__heading {
        &__date {
          color: $secondaryColor;
        }
        .select-date-button {
          color: rgba($secondaryColor, 0.5);
        }
      }
      &__calendar {
        .hour {
          &__time {
            color: rgba($secondaryColorDark, 0.8);
          }
          &:hover {
            .hour__time {
              color: $colorDarkerGrey;
            }
          }
        }
        .blacked-out {
          color: $colorLightestGrey;
          .hour__time {
            color: $colorDarkestGrey;
          }
        }
      }
      .modal {
        &-close-icon {
          color: rgba($colorDarkerGrey, 0.8);
          &:hover {
            color: $colorDarkerGrey;
          }
        }
        &--select-date {
          &__header,
          &__sub-header {
            color: $colorDarkerGrey;
          }
          &__date-picker-container {
            input,
            select {
              color: rgba($colorDarkerGrey, 0.8);
              text-align: center;
              &:focus {
                color: $colorDarkerGrey;
              }
            }
          }

          .button {
            &--modal {
              color: rgba($colorDarkerGrey, 0.8);
              &:hover {
                color: $secondaryColor;
              }
            }
          }
        }
        &--select-time {
          &__header {
            color: $colorDarkerGrey;
          }
          &__sub-header {
            color: $colorDarkerGrey;
          }
          .form {
            &__input {
              color: rgba($colorDarkerGrey, 0.8);
              &:focus {
                color: $colorDarkerGrey;
                .form__label {
                  color: $colorDarkerGrey;
                }
              }
              &--hour,
              &--minute,
              &--email,
              &--phone {
                @extend .form__input;
              }
            }
            &__select {
              color: rgba($colorDarkerGrey, 0.8);
              &:focus {
                color: $colorDarkerGrey;
              }
              &--hour,
              &--minute {
                @extend .form__select;
                option {
                  color: $secondaryColor;
                }
              }
              .blacked-out {
                color: rgba($colorOffWhite, 0.8);
              }
            }
            &__label {
              color: rgba($colorDarkerGrey, 0.8);
              &--email,
              &--phone {
                @extend .form__label;
              }
            }

            &__section {
              &__to-header {
                color: $colorDarkerGrey;
              }
              .colon {
                color: $colorDarkerGrey;
              }
              &__tod {
                color: $colorDarkerGrey;
              }
              &--commPreference {
                color: $colorDarkerGrey;
                label.clicked {
                  color: $secondaryColor;
                }
              }
            }
            &--appointment {
              .communication-preference-header {
                color: $colorDarkerGrey;
              }
              .button {
                &--modal {
                  color: rgba($colorDarkerGrey, 0.8);
                  &:hover {
                    color: $secondaryColor;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.green-and-white {
  .appoint-me-header {
    .icon-appoint-me-logo {
      color: $colorOffWhite;
    }
    &__title {
      color: $colorOffWhite;
    }
  }
  .appoint-me-container {
    &__heading {
      color: $colorOffWhite;
    }
    &__sub-container {
      &__heading {
        &__date {
          color: $secondaryColor;
        }
        .select-date-button {
          color: rgba($secondaryColor, 0.5);
        }
      }
      &__calendar {
        .hour {
          &__time {
            color: rgba($secondaryColorDark, 0.8);
          }
        }
        .blacked-out {
          color: $colorLightestGrey;
          .hour__time {
            color: $colorOffWhite;
          }
        }
      }
      .modal {
        &-close-icon {
          color: rgba($colorOffWhite, 0.8);
          &:hover {
            color: $colorOffWhite;
          }
        }
        &--select-date {
          &__header,
          &__sub-header {
            color: $colorOffWhite;
          }
          &__date-picker-container {
            input,
            select {
              color: rgba($colorOffWhite, 0.8);
              text-align: center;
              &:focus {
                color: $colorOffWhite;
              }
            }
          }

          .button {
            &--modal {
              color: rgba($colorOffWhite, 0.8);
              &:hover {
                color: $secondaryColor;
              }
            }
          }
        }
        &--select-time {
          &__header {
            color: $colorOffWhite;
          }
          &__sub-header {
            color: $colorOffWhite;
          }
          .form {
            &__input {
              color: rgba($colorOffWhite, 0.8);
              &:focus {
                color: $colorOffWhite;
                .form__label {
                  color: $colorOffWhite;
                }
              }
              &--hour,
              &--minute,
              &--email,
              &--phone {
                @extend .form__input;
              }
            }
            &__select {
              color: rgba($colorOffWhite, 0.8);
              &:focus {
                color: $colorOffWhite;
              }
              &--hour,
              &--minute {
                @extend .form__select;
                option {
                  color: $secondaryColor;
                }
              }
              .blacked-out {
                color: rgba($colorOffWhite, 0.8);
              }
            }
            &__label {
              color: rgba($colorOffWhite, 0.8);
              &--email,
              &--phone {
                @extend .form__label;
              }
            }

            &__section {
              &__to-header {
                color: $colorOffWhite;
              }
              .colon {
                color: $colorOffWhite;
              }
              &__tod {
                color: $colorOffWhite;
              }
              &--commPreference {
                color: $colorOffWhite;
                label.clicked {
                  color: $secondaryColor;
                }
              }
            }
            &--appointment {
              .communication-preference-header {
                color: $colorOffWhite;
              }
              .button {
                &--modal {
                  color: rgba($colorOffWhite, 0.8);
                  &:hover {
                    color: $secondaryColor;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.green-and-black {
  .appoint-me-header {
    .icon-appoint-me-logo {
      color: $colorDarkestGrey;
    }
    &__title {
      color: $colorDarkestGrey;
    }
  }
  .appoint-me-container {
    &__heading {
      color: $colorDarkestGrey;
    }
    &__sub-container {
      &__heading {
        &__date {
          color: $secondaryColor;
        }
        .select-date-button {
          color: rgba($secondaryColor, 0.5);
        }
      }
      &__calendar {
        .hour {
          &__time {
            color: rgba($secondaryColorDark, 0.8);
          }
          &:hover {
            .hour__time {
              color: $colorDarkerGrey;
            }
          }
        }
        .blacked-out {
          color: $colorLightestGrey;
          .hour__time {
            color: $colorDarkestGrey;
          }
        }
      }
      .modal {
        &-close-icon {
          color: rgba($colorDarkerGrey, 0.8);
          &:hover {
            color: $colorDarkerGrey;
          }
        }
        &--select-date {
          &__header,
          &__sub-header {
            color: $colorDarkerGrey;
          }
          &__date-picker-container {
            input,
            select {
              color: rgba($colorDarkerGrey, 0.8);
              text-align: center;
              &:focus {
                color: $colorDarkerGrey;
              }
            }
          }

          .button {
            &--modal {
              color: rgba($colorDarkerGrey, 0.8);
              &:hover {
                color: $secondaryColor;
              }
            }
          }
        }
        &--select-time {
          &__header {
            color: $colorDarkerGrey;
          }
          &__sub-header {
            color: $colorDarkerGrey;
          }
          .form {
            &__input {
              color: rgba($colorDarkerGrey, 0.8);
              &:focus {
                color: $colorDarkerGrey;
                .form__label {
                  color: $colorDarkerGrey;
                }
              }
              &--hour,
              &--minute,
              &--email,
              &--phone {
                @extend .form__input;
              }
            }
            &__select {
              color: rgba($colorDarkerGrey, 0.8);
              &:focus {
                color: $colorDarkerGrey;
              }
              &--hour,
              &--minute {
                @extend .form__select;
                option {
                  color: $secondaryColor;
                }
              }
              .blacked-out {
                color: rgba($colorOffWhite, 0.8);
              }
            }
            &__label {
              color: rgba($colorDarkerGrey, 0.8);
              &--email,
              &--phone {
                @extend .form__label;
              }
            }

            &__section {
              &__to-header {
                color: $colorDarkerGrey;
              }
              .colon {
                color: $colorDarkerGrey;
              }
              &__tod {
                color: $colorDarkerGrey;
              }
              &--commPreference {
                color: $colorDarkerGrey;
                label.clicked {
                  color: $secondaryColor;
                }
              }
            }
            &--appointment {
              .communication-preference-header {
                color: $colorDarkerGrey;
              }
              .button {
                &--modal {
                  color: rgba($colorDarkerGrey, 0.8);
                  &:hover {
                    color: $secondaryColor;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.gold-and-white {
  .appoint-me-header {
    .icon-appoint-me-logo {
      color: $colorOffWhite;
    }
    &__title {
      color: $colorOffWhite;
    }
  }
  .appoint-me-container {
    &__heading {
      color: $colorOffWhite;
    }
    &__sub-container {
      &__heading {
        &__date {
          color: $tertiaryColor;
        }
        .select-date-button {
          color: rgba($tertiaryColor, 0.5);
        }
      }
      &__calendar {
        .hour {
          &__time {
            color: rgba($tertiaryColorDark, 0.8);
          }
        }
        .blacked-out {
          color: $colorLightestGrey;
          .hour__time {
            color: $colorOffWhite;
          }
        }
      }
      .modal {
        &-close-icon {
          color: rgba($colorOffWhite, 0.8);
          &:hover {
            color: $colorOffWhite;
          }
        }
        &--select-date {
          &__header,
          &__sub-header {
            color: $colorOffWhite;
          }
          &__date-picker-container {
            input,
            select {
              color: rgba($colorOffWhite, 0.8);
              text-align: center;
              &:focus {
                color: $colorOffWhite;
              }
            }
          }

          .button {
            &--modal {
              color: rgba($colorOffWhite, 0.8);
              &:hover {
                color: $tertiaryColor;
              }
            }
          }
        }
        &--select-time {
          &__header {
            color: $colorOffWhite;
          }
          &__sub-header {
            color: $colorOffWhite;
          }
          .form {
            &__input {
              color: rgba($colorOffWhite, 0.8);
              &:focus {
                color: $colorOffWhite;
                .form__label {
                  color: $colorOffWhite;
                }
              }
              &--hour,
              &--minute,
              &--email,
              &--phone {
                @extend .form__input;
              }
            }
            &__select {
              color: rgba($colorOffWhite, 0.8);
              &:focus {
                color: $colorOffWhite;
              }
              &--hour,
              &--minute {
                @extend .form__select;
                option {
                  color: $tertiaryColor;
                }
              }
              .blacked-out {
                color: rgba($colorOffWhite, 0.8);
              }
            }
            &__label {
              color: rgba($colorOffWhite, 0.8);
              &--email,
              &--phone {
                @extend .form__label;
              }
            }

            &__section {
              &__to-header {
                color: $colorOffWhite;
              }
              .colon {
                color: $colorOffWhite;
              }
              &__tod {
                color: $colorOffWhite;
              }
              &--commPreference {
                color: $colorOffWhite;
                label.clicked {
                  color: $tertiaryColor;
                }
              }
            }
            &--appointment {
              .communication-preference-header {
                color: $colorOffWhite;
              }
              .button {
                &--modal {
                  color: rgba($colorOffWhite, 0.8);
                  &:hover {
                    color: $tertiaryColor;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.gold-and-black {
  .appoint-me-header {
    .icon-appoint-me-logo {
      color: $colorDarkestGrey;
    }
    &__title {
      color: $colorDarkestGrey;
    }
  }
  .appoint-me-container {
    &__heading {
      color: $colorDarkestGrey;
    }
    &__sub-container {
      &__heading {
        &__date {
          color: $tertiaryColor;
        }
        .select-date-button {
          color: rgba($tertiaryColor, 0.5);
        }
      }
      &__calendar {
        .hour {
          &__time {
            color: rgba($tertiaryColorDark, 0.8);
          }
          &:hover {
            .hour__time {
              color: $colorDarkerGrey;
            }
          }
        }
        .blacked-out {
          color: $colorLightestGrey;
          .hour__time {
            color: $colorDarkestGrey;
          }
        }
      }
      .modal {
        &-close-icon {
          color: rgba($colorDarkerGrey, 0.8);
          &:hover {
            color: $colorDarkerGrey;
          }
        }
        &--select-date {
          &__header,
          &__sub-header {
            color: $colorDarkerGrey;
          }
          &__date-picker-container {
            input,
            select {
              color: rgba($colorDarkerGrey, 0.8);
              text-align: center;
              &:focus {
                color: $colorDarkerGrey;
              }
            }
          }

          .button {
            &--modal {
              color: rgba($colorDarkerGrey, 0.8);
              &:hover {
                color: $tertiaryColor;
              }
            }
          }
        }
        &--select-time {
          &__header {
            color: $colorDarkerGrey;
          }
          &__sub-header {
            color: $colorDarkerGrey;
          }
          .form {
            &__input {
              color: rgba($colorDarkerGrey, 0.8);
              &:focus {
                color: $colorDarkerGrey;
                .form__label {
                  color: $colorDarkerGrey;
                }
              }
              &--hour,
              &--minute,
              &--email,
              &--phone {
                @extend .form__input;
              }
            }
            &__select {
              color: rgba($colorDarkerGrey, 0.8);
              &:focus {
                color: $colorDarkerGrey;
              }
              &--hour,
              &--minute {
                @extend .form__select;
                option {
                  color: $tertiaryColor;
                }
              }
              .blacked-out {
                color: rgba($colorOffWhite, 0.8);
              }
            }
            &__label {
              color: rgba($colorDarkerGrey, 0.8);
              &--email,
              &--phone {
                @extend .form__label;
              }
            }

            &__section {
              &__to-header {
                color: $colorDarkerGrey;
              }
              .colon {
                color: $colorDarkerGrey;
              }
              &__tod {
                color: $colorDarkerGrey;
              }
              &--commPreference {
                color: $colorDarkerGrey;
                label.clicked {
                  color: $tertiaryColor;
                }
              }
            }
            &--appointment {
              .communication-preference-header {
                color: $colorDarkerGrey;
              }
              .button {
                &--modal {
                  color: rgba($colorDarkerGrey, 0.8);
                  &:hover {
                    color: $tertiaryColor;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.blue-and-white {
  .appointment-declined-container {
    &__header {
      font-size: 5rem;
      font-weight: bold;
      color: $colorOffWhite;
    }
    &__heading {
      font-size: 2rem;
      color: $colorOffWhite;
    }
  }
  .form {
    &--declined {
      &__section {
        &__label {
          font-size: 3rem;
          color: $colorOffWhite;
        }
        &__input {
          font-size: 3rem;
          color: $colorOffWhite;
        }
      }
      &__message-input {
        font-size: 2rem;
        color: $secondaryColor;
      }
      &__button {
        font-size: 2rem;
        color: rgba($colorOffWhite, 0.8);
        &:hover {
          color: $secondaryColor;
        }
      }
    }
  }
}
.green-and-white {
  .appointment-declined-container {
    &__header {
      font-size: 5rem;
      font-weight: bold;
      color: $colorOffWhite;
    }
    &__heading {
      font-size: 2rem;
      color: $colorOffWhite;
    }
  }
}
.gold-and-white {
  .appointment-declined-container {
    &__header {
      font-size: 5rem;
      font-weight: bold;
      color: $colorOffWhite;
    }
    &__heading {
      font-size: 2rem;
      color: $colorOffWhite;
    }
  }
}
.blue-and-black {
  .appointment-declined-container {
    &__header {
      font-size: 5rem;
      font-weight: bold;
      color: $colorOffWhite;
    }
    &__heading {
      font-size: 2rem;
      color: $colorOffWhite;
    }
  }
}
.green-and-black {
  .appointment-declined-container {
    &__header {
      font-size: 5rem;
      font-weight: bold;
      color: $colorOffWhite;
    }
    &__heading {
      font-size: 2rem;
      color: $colorOffWhite;
    }
  }
}
.gold-and-black {
  .appointment-declined-container {
    &__header {
      font-size: 5rem;
      font-weight: bold;
      color: $colorOffWhite;
    }
    &__heading {
      font-size: 2rem;
      color: $colorOffWhite;
    }
  }
}

.appointment-declined-container {
  font-family: MADE Tommy Soft, Roboto Condensed, Purely Me, Verdana, Arial, Helvetica, sans-serif;
}

.day {
  &--sky {
    color: $colorDarkerGrey;
    .button {
      &--navigation {
        color: $colorDarkerGrey;
        &:hover {
          color: $colorOffWhite;
        }
      }
    }
  }
  .button {
    &--navigation {
      color: rgba($colorOffWhite, 0.8);
      &:hover {
        color: $colorOffWhite;
      }
    }
  }
  .overhead-container {
    .icon-PureNSpiration_Logo--night {
      color: $secondaryColor;
    }
    .time-toggle {
      color: rgba($colorOffWhite, 0.8);
      &:hover {
        &__text {
          color: $primaryColor;
        }
      }
    }
  }
  .pentagon {
    &__inside-ring {
      .pentagon-side {
        .grid {
          .flex-container {
            &--home,
            &--about,
            &--projects,
            &--resume,
            &--contact {
              .hero-container {
                .full-name {
                  color: $secondaryColor;
                }
                .button {
                  &--cta {
                    color: rgba($colorDarkGrey, 0.5);
                    &:hover {
                      color: $colorOffWhite;
                    }
                  }
                }
              }
              .about-flex-container {
                &__introduction-container {
                  &__button-container {
                    .button {
                      &--cta {
                        color: rgba($colorDarkGrey, 0.5);
                        &:hover {
                          color: $colorOffWhite;
                        }
                      }
                    }
                  }
                }
                &__information-container {
                  .button {
                    &--cta {
                      color: rgba($colorOffWhite, 0.5);
                      &:hover {
                        color: $colorOffWhite;
                      }
                    }
                  }
                  &__slide {
                    &__header {
                      &__text {
                        color: $secondaryColor;
                      }
                    }
                    &__container {
                      &__text-container {
                        &__text {
                          color: $colorMidDarkGrey;
                        }
                      }
                      .button {
                        &--cta {
                          color: rgba($colorDarkGrey, 0.5);
                          &:hover {
                            color: $colorOffWhite;
                          }
                        }
                      }
                      &__inner-slide {
                        &__header {
                          &__text {
                            color: $secondaryColor;
                          }
                        }
                        &__skill-container {
                          &__skill {
                            color: rgba($colorMidDarkGrey, 0.8);
                            &:hover {
                              color: $colorOffWhite;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
              &__project-navigation {
                .up,
                .down {
                  color: rgba($colorMidDarkGrey, 0.8);
                  &:hover {
                    color: $secondaryColor;
                  }
                  &:active {
                    color: $primaryColor;
                  }
                }
                .end {
                  color: rgba($colorMidDarkGrey, 0.25);
                  &:hover {
                    color: rgba($colorMidDarkGrey, 0.25);
                  }
                  &:active {
                    color: rgba($colorMidDarkGrey, 0.25);
                  }
                }
              }
              .project-container {
                &__name-container {
                  &__link-container {
                    .button {
                      &--cta {
                        color: rgba($colorOffWhite, 0.5);
                        &:hover {
                          color: $colorOffWhite;
                        }
                      }
                    }
                  }
                }
              }
              .dual-tab-container {
                .contact-header {
                  color: $secondaryColor;
                }
                &__section-container {
                  .contact-container {
                    .form {
                      &__input {
                        color: rgba($secondaryColor, 0.8);
                        &:focus {
                          color: $secondaryColor;
                        }
                        &:not(:placeholder-shown) + label,
                        &:focus + label {
                          color: $secondaryColorLight;
                        }
                        &--message {
                          color: rgba($secondaryColor, 0.8);
                          &:focus {
                            color: $secondaryColor;
                          }
                          &:not(:placeholder-shown) + label,
                          &:focus + label {
                            color: $secondaryColorLight;
                          }
                        }
                      }

                      &__section {
                        &--names {
                          &__sub-section {
                            .form {
                              &__input {
                                color: rgba($secondaryColor, 0.8);
                                &:focus {
                                  color: $secondaryColor;
                                }
                                &:not(:placeholder-shown) + label,
                                &:focus + label {
                                  color: $secondaryColorLight;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.night {
  &--sky {
    color: $colorOffWhite;
    .button {
      &--navigation {
        color: $colorOffWhite;
        &:hover {
          color: $colorDarkerGrey;
        }
      }
    }
  }
  .button {
    &--navigation {
      color: rgba($colorOffWhite, 0.8);
      &:hover {
        color: $colorOffWhite;
      }
    }
  }
  .overhead-container {
    .icon-PureNSpiration_Logo--night {
      color: $primaryColor;
    }

    .time-toggle {
      color: rgba($colorOffWhite, 0.8);
      &:hover {
        &__text {
          color: $primaryColor;
        }
      }
    }
  }
  .pentagon {
    &__inside-ring {
      .pentagon-side {
        .grid {
          .flex-container {
            &--home,
            &--about,
            &--projects,
            &--resume,
            &--contact {
              .hero-container {
                .full-name {
                  color: $primaryColor;
                }
                .button {
                  &--cta {
                    color: rgba($colorOffWhite, 0.25);
                    &:hover {
                      color: $colorMidDarkGrey;
                    }
                  }
                }
              }
              .about-flex-container {
                &__introduction-container {
                  &__button-container {
                    .button {
                      &--cta {
                        color: rgba($colorOffWhite, 0.25);
                        &:hover {
                          color: $colorMidDarkGrey;
                        }
                      }
                    }
                  }
                }
                &__information-container {
                  .button {
                    &--cta {
                      color: rgba($colorOffWhite, 0.25);
                      &:hover {
                        color: $colorMidDarkGrey;
                      }
                    }
                  }
                  &__slide {
                    &__header {
                      &__text {
                        color: $primaryColor;
                      }
                    }
                    &__container {
                      &__text-container {
                        &__text {
                          color: $colorOffWhite;
                        }
                      }
                      .button {
                        &--cta {
                          color: rgba($colorOffWhite, 0.25);
                          &:hover {
                            color: $colorMidDarkGrey;
                          }
                        }
                      }
                      &__inner-slide {
                        &__header {
                          &__text {
                            color: $colorOffWhite;
                          }
                        }
                        &__skill-container {
                          &__skill {
                            color: rgba($colorOffWhite, 0.8);
                            &:hover {
                              color: $colorMidDarkGrey;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
              &__project-navigation {
                .up,
                .down {
                  color: rgba($colorOffWhite, 0.8);

                  &:hover {
                    color: $secondaryColor;
                  }
                  &:active {
                    color: $primaryColor;
                  }
                }
                .end {
                  color: rgba($colorOffWhite, 0.25);
                  &:hover {
                    color: rgba($colorOffWhite, 0.25);
                  }
                  &:active {
                    color: rgba($colorOffWhite, 0.25);
                  }
                }
              }
              .project-container {
                &__name-container {
                  &__link-container {
                    .button {
                      &--cta {
                        color: rgba($colorOffWhite, 0.25);
                        &:hover {
                          color: $colorMidDarkGrey;
                        }
                      }
                    }
                  }
                }
              }
              .dual-tab-container {
                .contact-header {
                  color: $primaryColor;
                }
                &__section-container {
                  .contact-container {
                    .form {
                      &__input {
                        color: rgba($colorOffWhite, 0.8);
                        &:focus {
                          color: $colorOffWhite;
                        }
                        &:not(:placeholder-shown) + label,
                        &:focus + label {
                          color: $colorOffWhite;
                        }
                        &--message {
                          color: rgba($colorOffWhite, 0.8);
                          &:focus {
                            color: $colorOffWhite;
                          }
                          &:not(:placeholder-shown) + label,
                          &:focus + label {
                            color: $colorOffWhite;
                          }
                        }
                      }

                      &__section {
                        &--names {
                          &__sub-section {
                            .form {
                              &__input {
                                color: rgba($colorOffWhite, 0.8);
                                &:focus {
                                  color: $colorOffWhite;
                                }
                                &:not(:placeholder-shown) + label,
                                &:focus + label {
                                  color: $colorOffWhite;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.icon-PureNSpiration_Logo--night {
  font-size: 6rem;
}
