@use '../../../../../Public/SCSS/Utilities/Variables' as *;
@use '../../../../../Public/SCSS/Utilities/Mixins' as *;

/////////////////////////////////
// Base

html {
  font-family: Purely Me, Century Gothic, Verdana, sans-serif;
  font-variant-ligatures: none;
}

@include responsiveBreakPoint('largeTabPort') {
  .r__grid {
    font-family: Roboto Condensed, Purely Me, Century Gothic, Verdana, sans-serif;
    font-variant-ligatures: none;
    .r__navigation-container {
      .r__mobile-navigation {
        &__link-list {
          &__link-item {
            &__link {
              @extend .r__grid;
              font-size: 8rem;
              font-weight: bold;
              color: rgba($colorOffWhite, 0.8);
              text-decoration: none;
              &:hover {
                color: $colorOffWhite;
              }
              &:active {
                color: $primaryColor;
              }
            }
          }
        }
      }
    }

    .r__button--mobile-navigation {
      &__icon {
        font-size: 2.25rem;
      }
    }
  }

  .day {
    .r__button--mobile-navigation {
      &__icon {
        color: rgba($colorOffWhite, 0.8);
      }
    }
  }
}
.night {
  .r__button--mobile-navigation {
    &__icon {
      color: rgba($colorDarkerGrey, 0.8);
    }
  }
}
