block unique-content 
  section.pentagon-side.r__pentagon-side
    section.grid.r__grid
      section.flex-container--about.r__flex-container--about.column_1-24.row_1-18
        .about-flex-container.r__about-flex-container
          section.about-flex-container__introduction-container.r__about-flex-container__introduction-container
            .about-flex-container__introduction-container__picture-frame.r__about-flex-container__introduction-container__picture-frame
              img.about-flex-container__introduction-container__picture-frame__picture.r__about-flex-container__introduction-container__picture-frame__image(src="/DIST/CSS/Images/MyPhoto.jpg", alt="Headshot of Nathan Cluff")
            .about-flex-container__introduction-container__button-container.r__about-flex-container__introduction-container__button-container
              button.button--cta.r__button--cta
                p.button--cta__text.r__button--cta__text Contact Me
              button.button--cta.r__button--cta
                p.button--cta__text.r__button--cta__text Work With Me
          section.about-flex-container__information-container.r__about-flex-container__information-container
            .about-flex-container__information-container__left-door.r__about-flex-container__information-container__left-door
            .about-flex-container__information-container__right-door.r__about-flex-container__information-container__right-door
            button.button--cta.r__button--cta.button--about-doors.r__button--about-doors.open
              p.button--cta__text.r__button--cta__text Click To Open
            section.about-flex-container__information-container__slide.r__about-flex-container__information-container__slide
              .about-flex-container__information-container__slide__header.r__about-flex-container__information-container__slide__header
                h3.about-flex-container__information-container__slide__header__text.r__about-flex-container__information-container__slide__header__text About Me
              .about-flex-container__information-container__slide__container.r__about-flex-container__information-container__slide__container
                .about-flex-container__information-container__slide__container__text-container.r__about-flex-container__information-container__slide__container__text-container
                  p.about-flex-container__information-container__slide__container__text-container__text.r__about-flex-container__information-container__slide__container__text-container__text= `Growing up, I have always had a passion for data, numbers, technology, and beingcreative.  That led to a deep interest in either Architecture or Software Engineering.  Keeping this on topic, this led me to ask my cousin with a degree in computer science how I should start.  I was introduced to web development.  For me, that, and my aforementioned passions, naturally led me to full stack development.`
                  p.about-flex-container__information-container__slide__container__text-container__text.r__about-flex-container__information-container__slide__container__text-container__text= `Beyond programming, my passions are in sports, graphic design, camping, and just building memories with my wife and children.  If you want to work with me, or just be friends, feel free to reach out!`
                button.button--cta.r__button--cta 
                  p.button--cta__text.r__button--cta__text Contact Me
            section.about-flex-container__information-container__slide.r__about-flex-container__information-container__slide
              .about-flex-container__information-container__slide__header.r__about-flex-container__information-container__slide__header
                h3.about-flex-container__information-container__slide__header__text.r__about-flex-container__information-container__slide__header__text Skills
              .about-flex-container__information-container__slide__container.r__about-flex-container__information-container__slide__container
                .about-flex-container__information-container__slide__container__button-nav-container.r__about-flex-container__information-container__slide__container__button-nav-container
                - const skills = [{skillType: `Languages`, skills: [`HTML`, `CSS`, `JavaScript`]}, {skillType: `Pre-Processors`, skills: [`Less`, `SCSS`]}, {skillType: `Frameworks`, skills: [`Bootstrap`, `Vue.js`, `React.js`, `Node.js`, `Express.js`]}, {skillType: `Bundlers`, skills: [`Webpack`, `Parcel`]}, {skillType: `Databases`, skills: [`MongoDB`]}, {skillType: `Testing`, skills: [`Playwright`]}, {skillType: `Project Managers`, skills: [`Asana`, `ToDoist`]}, {skillType: `Version Control`, skills: [`Git`, `GitHub`]}, {skillType: `Operating Systems`, skills: [`Windows`, `Linux`, `Mac`]}]
                  each skillSet in skills
                    .about-flex-container__information-container__slide__container__inner-slide.r__about-flex-container__information-container__slide__container__inner-slide
                      header.about-flex-container__information-container__slide__container__inner-slide__header.r__about-flex-container__information-container__slide__container__inner-slide__header
                        h4.about-flex-container__information-container__slide__container__inner-slide__header__text.r__about-flex-container__information-container__slide__container__inner-slide__header__text=`${skillSet.skillType}`
                      .about-flex-container__information-container__slide__container__inner-slide__skill-container.r__about-flex-container__information-container__slide__container__inner-slide__skill-container
                        each skill in skillSet.skills
                          p.about-flex-container__information-container__slide__container__inner-slide__skill-container__skill= `${skill}`
            .about-flex-container__information-container__button-container.r__about-flex-container__information-container__button-container
