extends base

block connection-links
  section.connection-container.r__connection-container
    p.connect-navigation__pre-text.r__connect-navigation__pre-text Connect
    button.button--circle__extra-small.r__button--circle__extra-small.navigation-connection-button.r__navigation-connection-button
      i.fas.fa-angle-left.button--circle__extra-small__icon
    section.connect--navigation.r__connect--navigation.pseudo-after-full-width
      ul.connect--navigation__link-list.r__connect--navigation__link-list 
        li.connect--navigation__link-list__link-item.r__connect--navigation__link-list__link-item
          a.connect--navigation__link-list__link-item__link.r__connect--navigation__link-list__link-item__link(href=`https://www.linkedin.com/in/ncluff003`)
            i.fab.fa-linkedin
        li.connect--navigation__link-list__link-item.r__connect--navigation__link-list__link-item
          a.connect--navigation__link-list__link-item__link.r__connect--navigation__link-list__link-item__link(href=`https://github.com/ncluff003`)
            i.fab.fa-github-square
        li.connect--navigation__link-list__link-item.r__connect--navigation__link-list__link-item
          a.connect--navigation__link-list__link-item__link.r__connect--navigation__link-list__link-item__link(href=`https://codepen.io/ncluff3`)
            i.fab.fa-codepen
        li.connect--navigation__link-list__link-item.r__connect--navigation__link-list__link-item
          a.connect--navigation__link-list__link-item__link.r__connect--navigation__link-list__link-item__link(href=`https://t.me/ncluff003`)  
            i.fab.fa-telegram-plane

block unique-content
  section.icon-container.r__icon-container.column_4-5.row_6-9 
    i.fas.fa-heart.icon-container__icon.r__icon-container__icon 
    p.icon-container__text.r__icon-container__text
  section.interests-container.r__interests-container.column_10-13.row_4-13
    section.interests-container__quote-container.r__interests-container__quote-container
      p.interests-container__quote-container__quote.r__interests-container__quote-container__quote
      p.interests-container__quote-container__quote.r__interests-container__quote-container__quote
    section.interests-grid.r__interests-grid
      section.cylinder-left.r__cylinder-left.column_2-2.row_2-11
      //- section.cylinder-left__left.r__cylinder-left.column_2-2.row_2-11
      //- section.cylinder-left__right.r__cylinder-left.column_2-2.row_2-11

      section.cylinder-wall.r__cylinder-wall.column_2-10.row_2-11
        img.cylinder-wall-image.r__cylinder-wall-image(src='/DIST/CSS/Images/Cut-Out-Cylinder2.svg')
        //- svg.cylinder-wall-image.r__cylinder-wall-image
        //-   use(xlink:href="./../../Public/DIST/CSS/Images/Cut-Out-Cylinder.svg")
      section.cylinder-right.r__cylinder-right.column_11-2.row_2-11
      //- section.cylinder-right__left.r__cylinder-right__left.column_11-2.row_2-11
      //- section.cylinder-right__right.r__cylinder-right__right.column_11-2.row_2-11
      section.interest-current.r__interest-current.column_1-13.row_4-7
        if data 
          each interest in data.data.about[1].interests
            - console.log(interest)
            - let vendor = interest.vendor;
            - let fontAwesomeBoolean = false;
            - if (vendor === `fontAwesome`) fontAwesomeBoolean = !fontAwesomeBoolean
            - console.log(fontAwesomeBoolean)
            if !fontAwesomeBoolean
              section.interest-icon-container.r__interest-icon-container
                svg.icon(class=`${interest.icon}`)
                  use(xlink:href=`/DIST/CSS/symbol-defs.svg#${interest.icon}`)
            else 
              - console.log(`fa-${interest.icon}`)
              section.interest-icon-container.r__interest-icon-container
                i(class=`fas fa-${interest.icon} interest-icon-container__icon r__interest-icon-container__icon`)
    section.interests-contact-container.r__interests-contact-container
      a.interests-contact-container__contact-link.r__interests-contact-container__contact-link(href="/contact")
        p.interests-contact-container__contact-link__text.r__interests-contact-container__contact-link__text Get In Touch 
        i.fas.fa-mobile-alt.interests-contact-container__contact-link__link.r__interests-contact-container__contact-link__link