extends base

block site-content
  section.about-me
    header.about-me__header
      i.fas.fa-atom.about-me__header__icon
      h2.about-me__header__title My Core Building Blocks
    p.about-me__introductory-paragraph As both a Latter-Day Saint and a Highly Sensitive Person, the foundation of who I am as a Web Developer is founded on these few things:
    section.about-me-viewport
      section.about-me-statement-slider
        header.about-me-statement-slider-viewport
          p.about-me-statement My depth of processing goes deeper than most, which means greater attention to subtleties and detai.  It also means ensuring that both the company and its clients or users have a greater experience using the site.
          p.about-me-statement My natural curiosity, with the previously mentioned depth of processing, leads to a greater passion for learning.  It also drives me harder to learn about the unknown to better equip myself and the team to solve the complex problems of today.
          p.about-me-statement Finally, my faith grounds me with a greater sense of community, work ethic, and comaradarie.  Such that makes for a dependable co-worker, but more importantly, friend who will willingly listen and consider what is being said without guile..
      div.about-me-statement-slider-navigation