doctype html

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

html.no-js
  <!--<![endif]-->

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title= title
    meta(name="description" content="" )
    meta(name="viewport" content="width=device-width, initial-scale=1" )
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon" )
    
    link(rel="stylesheet" href="/DIST/CSS/purenspiration.css" )

    script(defer src="/DIST/Bundle.js?5da18932f3c722f0e631")
    script(src="/reload.js")

  body.disable-scrollbars
    <!--[if lt IE 7]>
      p.browsehappy You are using an 
        strong outdated 
        | browser. Please upgrade your browser to improve your experience.
    <![endif]-->
    // VERTICAL
    div.vertical-flex-container.r__vertical-flex-container
      nav.navigation.r__navigation
        div.navigation__logo.r__navigation__logo#r__navigation__logo
          div.navigation__logo__logoImg.r__navigation__logo__logoImg
            img(src="/DIST/CSS/Images/PureNOvationLogo_Serif_DarkGrey_GoldArrow.svg" alt="PureNSpiration Logo")
          p.navigation__logo__logoText.r__navigation__logo__logoText Pure `N` Spiration
        ul.navigation__links.r__navigation__links
          li.navigation__links--linkItem.r__navigation__links--linkItem.r__navigation__links--linkItem.r__navigation__links--linkItem
            a.navigation__links--linkItem__link(href="#introduction") Introduction
          li.navigation__links--linkItem.r__navigation__links--linkItem.r__navigation__links--linkItem.r__navigation__links--linkItem
            a.navigation__links--linkItem__link(href="#about-me") About
          li.navigation__links--linkItem.r__navigation__links--linkItem.r__navigation__links--linkItem.r__navigation__links--linkItem
            a.navigation__links--linkItem__link(href="#skills") Skills
          li.navigation__links--linkItem.r__navigation__links--linkItem.r__navigation__links--linkItem.r__navigation__links--linkItem
            a.navigation__links--linkItem__link(href="#portfolio") Portfolio
          li.navigation__links--linkItem.r__navigation__links--linkItem.r__navigation__links--linkItem.r__navigation__links--linkItem
            a.navigation__links--linkItem__link(href="#contact") Contact
        i.fas.fa-hamburger.hamburger-menu.r__hamburger-menu
      div.navigation-menu.r__navigation-menu
        i.fas.fa-window-close.navigation-menu-close.r__navigation-menu-close
        ul.navigation-menu__links.r__navigation-menu__links
          li.navigation-menu__links--linkItem.r__navigation-menu__links--linkItem.r__navigation-menu__links--linkItem.r__navigation-menu__links--linkItem
            a.navigation-menu__links--linkItem__link(href="#introduction") Introduction
          li.navigation-menu__links--linkItem.r__navigation-menu__links--linkItem.r__navigation-menu__links--linkItem.r__navigation-menu__links--linkItem
            a.navigation-menu__links--linkItem__link(href="#about-me") About
          li.navigation-menu__links--linkItem.r__navigation-menu__links--linkItem.r__navigation-menu__links--linkItem.r__navigation-menu__links--linkItem
            a.navigation-menu__links--linkItem__link(href="#skills") Skills
          li.navigation-menu__links--linkItem.r__navigation-menu__links--linkItem.r__navigation-menu__links--linkItem.r__navigation-menu__links--linkItem
            a.navigation-menu__links--linkItem__link(href="#portfolio") Portfolio
          li.navigation-menu__links--linkItem.r__navigation-menu__links--linkItem.r__navigation-menu__links--linkItem.r__navigation-menu__links--linkItem
            a.navigation-menu__links--linkItem__link(href="#contact") Contact

      section.flex-section.r__flex-section#introduction
        section.grid-container.r__grid-container
          div.typing-text-container.r__typing-text-container.column_2-22.row_7-4
            p.typing-text--introduction.r__typing-text--introduction
            div.typing-text--cursor.r__typing-text--cursor#introCursor
          div.introduction-button-container.r__introduction-button-container.column_8-10.row_11-2
            a.introduction-button.r__introduction-button(href='#about-me') Learn More About Me
            a.introduction-button.r__introduction-button(href='#portfolio') See My Work
            a.introduction-button.r__introduction-button(href='#contact') Get In Touch
      section.flex-section.r__flex-section#about-me
        section.grid-container.r__grid-container
          header.section-header.r__section-header.column_4-18.row_3-3 More About Me
          section.about-me-container.r__about-me-container.column_2-22.row_6-12
            section.about-me-container__option-slider.r__about-me-container__option-slider
              section.about-me-container__option-slider--option.r__about-me-container__option-slider--option.about-me-container__option-slider--option--1.r__about-me-container__option-slider--option--1(data-slideOption="1")
                div.about-typing-text-container.r__about-typing-text-container
                  p.about-typing-text.r__about-typing-text Scroll with the mouse, keyboard, & finger.
                  div.about-typing-text--cursor.r__about-typing-text--cursor#aboutCursor
              section.about-me-container__option-slider--option.r__about-me-container__option-slider--option.about-me-container__option-slider--option--2.r__about-me-container__option-slider--option--2(data-slideOption="2")
                video.about-me-video.r__about-me-video#r__aboutMeVideo(controls)
                  source.video-source.r__video-source(src="/DIST/CSS/Images/BYU.mp4" type="video/mp4")
            div.about-me-container__option-navigation.r__about-me-container__option-navigation
      section.flex-section.r__flex-section#skills
        section.grid-container.r__grid-container
          header.section-header.r__section-header.column_4-18.row_3-3 Skills I Possess
          section#skills.showcase-grid.r__showcase-grid.column_4-18.row_7-10
      section.flex-section.r__flex-section#portfolio
        section.grid-container.r__grid-container
          header.section-header.r__section-header.column_4-18.row_3-3 What I have Worked On
          section#project.showcase-grid.r__showcase-grid.column_4-18.row_7-10
          div.project-count.r__project-count.column_12-2.row_16-1
      section.flex-section.r__flex-section#contact
        section.grid-container.r__grid-container#contact-section
          header#contact.section-header.r__section-header.column_4-18.row_3-3 Please Get In Touch
          form.contact-form.r__contact-form.column_7-12.row_6-12
            div.contact-form-message-container.r__contact-form-message-container
              p.contact-form-message-container--error.r__contact-form-message-container--error
            div.contact-form-name-container.r__contact-form-name-container
              div.contact-form-name-container--first-name.r__contact-form-name-container--first-name
                input.first-name.r__first-name#firstName(type="text", name="firstName", placeholder="First Name" required)
                label.first-name-label.r__first-name-label#firstNameLabel(for="firstName") First Name (Required)
              div.contact-form-name-container--last-name.r__contact-form-name-container--last-name
                input.last-name.r__last-name#lastName(type="text", name="lastName", placeholder="Last Name" required)
                label.last-name-label.r__last-name-label#lastNameLabel(for="lastName") Last Name (Required)
            div.contact-form-organization-container.r__contact-form-organization-container
              div.contact-form-organization-container--organization.r__contact-form-organization-container--organization
                input.organization-name.r__organization-name#organizationName(type="text", name="organization", placeholder="Your Company Name" pattern="^[^?!*,#,%,*,+,=]*^[^?!*,#,%,*,+,=]*$" required)
                label.organization-name-label.r__organization-name-label#organizationNameLabel(for="organizationName") Organization (Required)
              div.contact-form-organization-container--position.r__contact-form-organization-container--position
                input.position-name.r__position-name#positionName(type="text", name="position", placeholder="Your Company Position" required)
                label.position-name-label.r__position-name-label#positionNameLabel(for="positionName") Position (Required)
            div.contact-form-email-container.r__contact-form-email-container
              input.email.r__email#email(type="text", name="email", placeholder="Your Email" minlength= 6, required)
              label.email-label.r__email-label#emailLabel(for="email") Email Address (Required)
            div.contact-form-subject-container.r__contact-form-subject-container
              input.subject.r__subject#subject(type="text", name="subject", placeholder="Your Subject" required)
              label.subject-label.r__subject-label#subjectLabel(for="subject") Subject (Required)
            div.contact-form-text-message-container.r__contact-form-text-message-container
              textarea.message.r__message#message(name="message", cols="30", rows="10", placeholder="Please enter your message here! 😃" minlength= 10, required)
              label.message-label.r__message-label#messageLabel(for="message") Message (Required)
            div.contact-form-submit-container.r__contact-form-submit-container
              button.submit-message-button.r__submit-message-button#submitMessageButton Submit Message
            div.contact-form-message-container.r__contact-form-message-container
              p.contact-form-message-container--success.r__contact-form-message-container--success