doctype html

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

html.no-js
  <!--<![endif]-->

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title= title
    meta(name="description" content="" )
    meta(name="viewport" content="width=device-width, initial-scale=1" )
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon" )
    
    link(rel="stylesheet" href="/DIST/CSS/purenspiration.css" )

    script(defer src="/DIST/Bundle.js?5da18932f3c722f0e631")
    //- script(defer src="/JS/App.js" type="module")
    script(src="/reload.js")

  body.disable-scrollbars
    <!--[if lt IE 7]>
      p.browsehappy You are using an 
        strong outdated 
        | browser. Please upgrade your browser to improve your experience.
    <![endif]-->
    // VERTICAL
    div.master-grid.r__master-grid
      nav.navigation.r__navigation.column_1-5.row_1-18
        img.navigation__my-image.r__navigation__my-image(src="/DIST/CSS/Images/test-profile-edit2.jpg" alt="My Headshot")
        ul.navigation__links.r__navigation__links
          li.navigation__links__link-item.r__navigation__links__link-item
            a.navigation__links__link-item__link.r__navigation__links__link-item__link(href="/") Home
          li.navigation__links__link-item.r__navigation__links__link-item
            a.navigation__links__link-item__link.r__navigation__links__link-item__link(href="/about") About
          li.navigation__links__link-item.r__navigation__links__link-item
            a.navigation__links__link-item__link.r__navigation__links__link-item__link(href="/projects") Projects
          li.navigation__links__link-item.r__navigation__links__link-item
            a.navigation__links__link-item__link.r__navigation__links__link-item__link(href="/contact") Contact
        img.navigation__my-logo.r__navigation__my-logo(src="/DIST/CSS/Images/PureNOvationLogo_Serif_DarkGrey_GoldArrow.svg" alt="PureNSpiration Logo")
        i.fas.fa-hamburger.navigation-menu-button.r__navigation-menu-button 
      nav.navigation-mobile.r__navigation-mobile 
        ul.navigation-mobile__links.r__navigation-mobile__links
          li.navigation-mobile__links__link-item.r__navigation-mobile__links__link-item
            a.navigation-mobile__links__link-item__link.r__navigation-mobile__links__link-item__link(href="/") Home
          li.navigation-mobile__links__link-item.r__navigation-mobile__links__link-item
            a.navigation-mobile__links__link-item__link.r__navigation-mobile__links__link-item__link(href="/about") About
          li.navigation-mobile__links__link-item.r__navigation-mobile__links__link-item
            a.navigation-mobile__links__link-item__link.r__navigation-mobile__links__link-item__link(href="/projects") Projects
          li.navigation-mobile__links__link-item.r__navigation-mobile__links__link-item
            a.navigation-mobile__links__link-item__link.r__navigation-mobile__links__link-item__link(href="/contact") Contact
        i.fas.fa-window-close.navigation-mobile-close.r__navigation-mobile-close

      div.master-flex-container.r__master-flex-container.column_6-19.row_1-18
        block site-content
          section.master-flex-container__child-flex-container.r__master-flex-container__child-flex-container
            header.master-flex-container__child-flex-container__heading.r__master-flex-container__child-flex-container__heading
              p.master-flex-container__child-flex-container__heading--subtext-start.r__master-flex-container__child-flex-container__heading--subtext-start My name is
              h1.master-flex-container__child-flex-container__heading--main-text.r__master-flex-container__child-flex-container__heading--main-text Nathan Cluff
              p.master-flex-container__child-flex-container__heading--subtext-end.r__master-flex-container__child-flex-container__heading--subtext-end and I am a Web Developer
            a.cta-button.r__cta-button(href="/contact") Let's Be Friends