doctype html

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

html.no-js
  <!--<![endif]-->

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(http-equiv="Content-Security-Policy", content="script-src *")
    title= title
    meta(name="description" content="" )
    meta(name="viewport" content="width=device-width, initial-scale=1" )
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon" )
    
    link(rel="stylesheet" href="/DIST/CSS/purenspiration.css" )

    //- script(src="node_modules/svgxuse/svgxuse.js" defer)
    //- script(src="https://unpkg.com/vue@3.0.2/dist/vue.global.js" type="module" defer)
    //- script(src="https://cdn.jsdelivr.net/npm/vue@2.7.0/dist/vue.js")
    script(defer src="/DIST/Bundle.js?5da18932f3c722f0e631")
    //- script(defer src="/JS/App.js" type="module")
    //- script(src="/reload.js")

  body.disable-scrollbars
    <!--[if lt IE 7]>
      p.browsehappy You are using an 
        strong outdated 
        | browser. Please upgrade your browser to improve your experience.
    <![endif]-->
    // VERTICAL
    section.gridDesktop.r__gridDesktop.grid.night
      nav.navigation.r__navigation.column_1-24.row_1-1
        section.logo-container.r__logo-container
          if data
            svg.icon(class=`${data.data.logo}`)
              use(xlink:href=`/DIST/CSS/symbol-defs.svg#${data.data.logo}`)
          else 
            svg.icon(class=`icon-PureNSpiration_Logo--night`)
              use(xlink:href=`/DIST/CSS/symbol-defs.svg#icon-PureNSpiration_Logo--night`)
        ul.navigation__link-list.r__navigation__link-list 
          li.navigation__link-list__link-item.r__navigation__link-list__link-item
            a.navigation__link-list__link-item__link.r__navigation__link-list__link-item__link(href="/") Home
          li.navigation__link-list__link-item.r__navigation__link-list__link-item
            a.navigation__link-list__link-item__link.r__navigation__link-list__link-item__link(href="/about") About
          li.navigation__link-list__link-item.r__navigation__link-list__link-item
            a.navigation__link-list__link-item__link.r__navigation__link-list__link-item__link(href="/projects") Projects
          li.navigation__link-list__link-item.r__navigation__link-list__link-item
            a.navigation__link-list__link-item__link.r__navigation__link-list__link-item__link(href="/blog") Blog
          li.navigation__link-list__link-item.r__navigation__link-list__link-item
            a.navigation__link-list__link-item__link.r__navigation__link-list__link-item__link(href="https://www.dropbox.com/s/1b47bqabvcj89uq/My_Resume_Full-Stack.pdf?dl=0" target="_blank") Resume
          li.navigation__link-list__link-item.r__navigation__link-list__link-item
            a.navigation__link-list__link-item__link.r__navigation__link-list__link-item__link(href="/contact") Contact
        block connection-links
        section.time-toggle.r__time-toggle
          section.time-toggle__switch.r__time-toggle__switch
            i.fas.fa-sun.time-toggle__switch__icon--sun.closed
            i.fas.fa-moon.time-toggle__switch__icon--moon.open
      
      block unique-content
    block vue-scripts