extends base

block connection-links
  section.connection-container.r__connection-container
    p.connect-navigation__pre-text.r__connect-navigation__pre-text Connect
    button.button--circle__extra-small.r__button--circle__extra-small.navigation-connection-button.r__navigation-connection-button
      i.fas.fa-angle-left.button--circle__extra-small__icon
    section.connect--navigation.r__connect--navigation.pseudo-after-full-width
      ul.connect--navigation__link-list.r__connect--navigation__link-list 
        li.connect--navigation__link-list__link-item.r__connect--navigation__link-list__link-item
          a.connect--navigation__link-list__link-item__link.r__connect--navigation__link-list__link-item__link(href=`https://www.linkedin.com/in/ncluff003`)
            i.fab.fa-linkedin
        li.connect--navigation__link-list__link-item.r__connect--navigation__link-list__link-item
          a.connect--navigation__link-list__link-item__link.r__connect--navigation__link-list__link-item__link(href=`https://github.com/ncluff003`)
            i.fab.fa-github-square
        li.connect--navigation__link-list__link-item.r__connect--navigation__link-list__link-item
          a.connect--navigation__link-list__link-item__link.r__connect--navigation__link-list__link-item__link(href=`https://codepen.io/ncluff3`)
            i.fab.fa-codepen
        li.connect--navigation__link-list__link-item.r__connect--navigation__link-list__link-item
          a.connect--navigation__link-list__link-item__link.r__connect--navigation__link-list__link-item__link(href=`https://t.me/ncluff003`)  
            i.fab.fa-telegram-plane

block unique-content
  section.contact-me-section.r__contact-me-section.column_6-14.row_2-22
    section.personal-photo-container.r__personal-photo-container 
      section.personal-photo.r__personal-photo 
        img.personal-photo__image.r__personal-photo__image(src="/DIST/CSS/Images/MyPhoto.jpg", alt="Nathan Cluff Headshot")
      section.contact-greeting.r__contact-greeting 
        p.contact-greeting__heading.r__contact-greeting__heading Contact
        p.contact-greeting__greeting.r__contact-greeting__greeting Whether it is critical feedback on a post, or as simple as saying hello, I hope you feel free to get in touch!
    form.form.r__form
      section.form-section.r__form-section
        input.form-input--name.r__form-input--name#fname(type="text" placeholder="First Name" name="fname" required)
        label.form-label--name.r__form-label--name(for="fname") First Name 
        input.form-input--name.r__form-input--name#lname(type="text" placeholder="Last Name" name="lname" required) 
        label.form-label--name.r__form-label--name(for="lname") Last Name
      section.form-section.r__form-section
        input.form-input.r__form-input#email(type="email" placeholder="Email" name="email" required)
        label.form-label.r__form-label(for="email") Email Address
      section.form-section.r__form-section
        input.form-input.r__form-input#subject(type="subject" placeholder="Subject" name="subject" required)
        label.form-label.r__form-label(for="subject") Subject
      section.form-section--message.r__form-section--message
        textarea.form-input--message.r__form-input--message#message(name="message" minLength="5" maxLength="5000" required) 
        label.form-label--message.r__form-label--message Message
        button.button--send-message.r__button--send-message Send
      p.character-count.r__character-count 5000 Characters Left


//- block site-content
//-   section.form-container.r__form-container
//-     p.form-container__requirement-reminder.form-message.r__form-container__requirement-reminder.r__form-message ATTENTION | All Fields Are Required.
//-     header.form-container__form-header.r__form-container__form-header
//-       h2.form-container__form-header__addressed.r__form-container__form-header__addressed To: Nathan Cluff
//-       img.stamp.r__stamp(src="/DIST/CSS/Images/email-stamp.png")
//-       img.stamp.r__stamp(src="/DIST/CSS/Images/invalid-email-stamp.png")
//-       img.stamp.r__stamp(src="/DIST/CSS/Images/valid-email-stamp.png")
//-     form.form-container__contact-form.r__form-container__contact-form
//-       div.form-container__contact-form__name-containers.r__form-container__contact-form__name-containers
//-         div.form-container__contact-form__name-containers__first-name-container.r__form-container__contact-form__name-containers__first-name-container
//-           label.form-container__contact-form__name-containers__first-name-container--first-name-label.r__form-container__contact-form__name-containers__first-name-container--first-name-label#first-name-label(for="first-name") From:
//-           input.form-container__contact-form__name-containers__first-name-container--first-name.r__form-container__contact-form__name-containers__first-name-container--first-name#first-name(type="text" name="first-name" placeholder="First Name" required)
//-         div.form-container__contact-form__name-containers__last-name-container.r__form-container__contact-form__name-containers__last-name-container
//-           input.form-container__contact-form__name-containers__last-name-container--last-name.r__form-container__contact-form__name-containers__last-name-container--last-name#last-name(type="text" name="last-name" placeholder="Last Name" required)
//-       div.form-container__contact-form__organization-info-containers.r__form-container__contact-form__organization-info-containers
//-         div.form-container__contact-form__organization-info-containers__organization-name-container.r__form-container__contact-form__organization-info-containers__organization-name-container
//-           label.form-container__contact-form__organization-info-containers__organization-name-container--organization-name-label.r__form-container__contact-form__organization-info-containers__organization-name-container--organization-name-label#organization-name-label(for="organization-name") Organization Info:
//-           input.form-container__contact-form__organization-info-containers__organization-name-container--organization-name.r__form-container__contact-form__organization-info-containers__organization-name-container--organization-name#organization-name(type="text" name="organization-name" placeholder="Your Organization" pattern="^[^?!*,#,%,*,+,=]*^[^?!*,#,%,*,+,=]*$" required)
//-         div.form-container__contact-form__organization-info-containers__organization-position-container.r__form-container__contact-form__organization-info-containers__organization-position-container
//-           input.form-container__contact-form__organization-info-containers__organization-position-container--organization-position.r__form-container__contact-form__organization-info-containers__organization-position-container--organization-position#organization-position(type="text" name="organization-position" placeholder="Your Position" required)
//-       div.form-container__contact-form__email-containers.r__form-container__contact-form__email-containers
//-         div.form-container__contact-form__email-containers__email-container.r__form-container__contact-form__email-containers__email-container
//-           label.form-container__contact-form__email-containers__email-container--email-label.r__form-container__contact-form__email-containers__email-container--email-label#email-label(for="email") Email Address:
//-           input.form-container__contact-form__email-containers__email-container--email.r__form-container__contact-form__email-containers__email-container--email#email(type="email" name="email" placeholder="Your Email" required)
//-       div.form-container__contact-form__subject-containers.r__form-container__contact-form__subject-containers
//-         div.form-container__contact-form__subject-containers__subject-container.r__form-container__contact-form__subject-containers__subject-container
//-           label.form-container__contact-form__subject-containers__subject-container--subject-label.r__form-container__contact-form__subject-containers__subject-container--subject-label#subject-label(for="subject") Subject:
//-           input.form-container__contact-form__subject-containers__subject-container--subject.r__form-container__contact-form__subject-containers__subject-container--subject#subject(type="text" name="subject" placeholder="Email Subject" required)
//-       div.form-container__contact-form__message-containers.r__form-container__contact-form__message-containers
//-         div.form-container__contact-form__message-containers__message-container.r__form-container__contact-form__message-containers__message-container
//-           label.form-container__contact-form__message-containers__message-container--message-label.r__form-container__contact-form__message-containers__message-container--message-label#message-label(for="message") Message:
//-           textarea.form-container__contact-form__message-containers__message-container--message.r__form-container__contact-form__message-containers__message-container--message#message(type="text" name="message" placeholder="Your Message" maxLength="1000" minLength="10" required)
//-           p.form-container__contact-form__message-containers__message-counter.r__form-container__contact-form__message-containers__message-counter ( 1000 Characters Left )
//-       div.form-container__contact-form__submit-containers.r__form-container__contact-form__submit-containers
//-         div.form-container__contact-form__submit-containers__submit-container.r__form-container__contact-form__submit-containers__submit-container
//-           input.form-container__contact-form__submit-containers__submit-container--submit.r__form-container__contact-form__submit-containers__submit-container--submit#submit(type="submit" name="submit" value="Send Message" required)
//-     p.form-response.form-message.r__form-response.form-message.r__form-message 