block unique-content
  section.pentagon-side.r__pentagon-side
    section.grid.r__grid
      section.flex-container--contact.r__flex-container--contact.column_1-24.row_1-18
        .dual-tab-container.r__dual-tab-container
          .dual-tab-container__tab-container.r__dual-tab-container__tab-container
            .dual-tab-container__tab-container__tab.r__dual-tab-container__tab-container__tab 
              p.dual-tab-container__tab-container__tab__text.r__dual-tab-container__tab-container__tab__text Contact Me
            .dual-tab-container__tab-container__tab.r__dual-tab-container__tab-container__tab 
              p.dual-tab-container__tab-container__tab__text.r__dual-tab-container__tab-container__tab__text Work With Me
          h2.contact-header.r__contact-header Contact Me
          .dual-tab-container__section-container.r__dual-tab-container__section-container
            .contact-container.r__contact-container.open
              form.form.r__form
                section.form__section--names.r__form__section--names
                  section.form__section--names__sub-section.r__form__section--names__sub-section
                    input.form__input.r__form__input#fname(type="text" name="fname" placeholder="First Name")
                    label.form__label.r__form__label(for="fname") First Name 
                  section.form__section--names__sub-section.r__form__section--names__sub-section 
                    input.form__input.r__form__input#lname(type="text" name="lname" placeholder="Last Name")
                    label.form__label.r__form__label(for="lname") Last Name 
                section.form__section.r__form__section 
                    input.form__input.r__form__input#emailAddress(type="text" name="emailAddress" placeholder="Email Address")
                    label.form__label.r__form__label(for="emailAddress") Email Address 
                section.form__section.r__form__section 
                    input.form__input.r__form__input#emailSubject(type="text" name="emailSubject" placeholder="Subject")
                    label.form__label.r__form__label(for="emailSubject") Subject 
                section.form__section.r__form__section 
                  textarea.form__input--message.r__form__input--message#emailMessage(name="emailMessage" placeholder="Enter Message Here." maxLength="2000")
                  label.form__label--message.r__form__label--message(for="emailMessage") Message
                button.button--send.r__button--send Send
                p.form__character-count.r__form__character-count 5000 Characters Left
            section.calendar.r__calendar