extends base

block unique-content
  header.navigation-header.r__navigation-header
    i.fas.fa-window-close.navigation-close-icon.r__navigation-close-icon 
    .navigation-header__container.r__navigation-header__container
      .navigation-header__container__ring.r__navigation-header__container__ring
        nav.navigation-header__container__ring__navigation.r__navigation-header__container__ring__navigation
          a(href="#").navigation-header__container__ring__navigation__link.r__navigation-header__container__ring__navigation__link
            p.navigation-header__container__ring__navigation__link__text.r__navigation-header__container__ring__navigation__link__text Home
          a(href="#").navigation-header__container__ring__navigation__link.r__navigation-header__container__ring__navigation__link
            p.navigation-header__container__ring__navigation__link__text.r__navigation-header__container__ring__navigation__link__text About
          a(href="#").navigation-header__container__ring__navigation__link.r__navigation-header__container__ring__navigation__link
            p.navigation-header__container__ring__navigation__link__text.r__navigation-header__container__ring__navigation__link__text Portfolio
          a(href="#").navigation-header__container__ring__navigation__link.r__navigation-header__container__ring__navigation__link
            p.navigation-header__container__ring__navigation__link__text.r__navigation-header__container__ring__navigation__link__text Resume
          a(href="#").navigation-header__container__ring__navigation__link.r__navigation-header__container__ring__navigation__link
            p.navigation-header__container__ring__navigation__link__text.r__navigation-header__container__ring__navigation__link__text Contact
  section.pentagon.r__pentagon
    .pentagon__inside-ring.r__pentagon__inside-ring
      section.pentagon-side.r__pentagon-side
        section.grid.r__grid
          section.flex-container--home.r__flex-container--home.column_1-24.row_1-18.night--sky
            section.hero-container.r__hero-container
              h1.full-name.r__full-name Nathan Cluff 
              h3.position.r__position Full Stack Developer
              button.button--cta.r__button--cta.button--hero.r__button--hero 
                p.button--cta__text.r__button--cta__text View Projects
    .pentagon__inside-ring.r__pentagon__inside-ring
      section.pentagon-side.r__pentagon-side
        section.grid.r__grid
          h1 About Page
    .pentagon__inside-ring.r__pentagon__inside-ring
      section.pentagon-side.r__pentagon-side
        section.grid.r__grid
          h1 Projects Page
    .pentagon__inside-ring.r__pentagon__inside-ring
      section.pentagon-side.r__pentagon-side
        section.grid.r__grid
          h1 Resume Page
    .pentagon__inside-ring.r__pentagon__inside-ring
      section.pentagon-side.r__pentagon-side
        section.grid.r__grid
          h1 Contact Page
  