extends base

block connection-links
  section.connection-container.r__connection-container
    p.connect-navigation__pre-text.r__connect-navigation__pre-text Connect
    button.button--circle__extra-small.r__button--circle__extra-small.navigation-connection-button.r__navigation-connection-button
      i.fas.fa-angle-left.button--circle__extra-small__icon
    section.connect--navigation.r__connect--navigation.pseudo-after-full-width
      ul.connect--navigation__link-list.r__connect--navigation__link-list 
        li.connect--navigation__link-list__link-item.r__connect--navigation__link-list__link-item
          a.connect--navigation__link-list__link-item__link.r__connect--navigation__link-list__link-item__link(href=`https://www.linkedin.com/in/ncluff003`)
            i.fab.fa-linkedin
        li.connect--navigation__link-list__link-item.r__connect--navigation__link-list__link-item
          a.connect--navigation__link-list__link-item__link.r__connect--navigation__link-list__link-item__link(href=`https://github.com/ncluff003`)
            i.fab.fa-github-square
        li.connect--navigation__link-list__link-item.r__connect--navigation__link-list__link-item
          a.connect--navigation__link-list__link-item__link.r__connect--navigation__link-list__link-item__link(href=`https://codepen.io/ncluff3`)
            i.fab.fa-codepen
        li.connect--navigation__link-list__link-item.r__connect--navigation__link-list__link-item
          a.connect--navigation__link-list__link-item__link.r__connect--navigation__link-list__link-item__link(href=`https://t.me/ncluff003`)  
            i.fab.fa-telegram-plane

//- block site-content
//-   section.project-container.r__project-container
//-     section.project-container__project.r__project-container__project
//-       figure.project-container__project__image-container.r__project-container__project__image-container
//-         img.project-container__project__image-container--image.r__project-container__project__image-container--image(src="/DIST/CSS/Images/Computer_Desktop_Image.svg")
//-       article.project-container__project__article.r__project-container__project__article
//-         header.project-container__project__article__title.r__project-container__project__article__title Pure N Spiration
//-         p.project-container__project__article__short-summary.r__project-container__project__article__short-summary Personal Classroom &amp; Playground
//-         article.project-container__project__article__sub-article.r__project-container__project__article__sub-article
//-           h3.project-container__project__article__sub-article__title.r__project-container__project__article__sub-article__title Category
//-           p.project-container__project__article__sub-article__category.r__project-container__project__article__sub-article__category Personal Website
//-         article.project-container__project__article__sub-article.r__project-container__project__article__sub-article
//-           h3.project-container__project__article__sub-article__title.r__project-container__project__article__sub-article__title Technology Used
//-           ul.project-container__project__article__sub-article__technology-used.r__project-container__project__article__sub-article__technology-used
//-             li.project-container__project__article__sub-article__technology-used__list-item.r__project-container__project__article__sub-article__technology-used__list-item
//-               p.project-container__project__article__sub-article__technology-used__list-item__technology.r__project-container__project__article__sub-article__technology-used__list-item__technology HTML5
//-             li.project-container__project__article__sub-article__technology-used__list-item.r__project-container__project__article__sub-article__technology-used__list-item
//-               p.project-container__project__article__sub-article__technology-used__list-item__technology.r__project-container__project__article__sub-article__technology-used__list-item__technology CSS3
//-             li.project-container__project__article__sub-article__technology-used__list-item.r__project-container__project__article__sub-article__technology-used__list-item
//-               p.project-container__project__article__sub-article__technology-used__list-item__technology.r__project-container__project__article__sub-article__technology-used__list-item__technology JavaScript
//-             li.project-container__project__article__sub-article__technology-used__list-item.r__project-container__project__article__sub-article__technology-used__list-item
//-               p.project-container__project__article__sub-article__technology-used__list-item__technology.r__project-container__project__article__sub-article__technology-used__list-item__technology Pug
//-             li.project-container__project__article__sub-article__technology-used__list-item.r__project-container__project__article__sub-article__technology-used__list-item
//-               p.project-container__project__article__sub-article__technology-used__list-item__technology.r__project-container__project__article__sub-article__technology-used__list-item__technology NodeJS
//-             li.project-container__project__article__sub-article__technology-used__list-item.r__project-container__project__article__sub-article__technology-used__list-item
//-               p.project-container__project__article__sub-article__technology-used__list-item__technology.r__project-container__project__article__sub-article__technology-used__list-item__technology Express
//-         a.project-container__project__article__link.r__project-container__project__article__link(href="https://github.com/ncluff003/PureNSpiration") View Code
//-         a.project-container__project__article__link.r__project-container__project__article__link(href="/") View Site
//-     section.project-container__project.r__project-container__project
//-       figure.project-container__project__image-container.work-in-progress.r__project-container__project__image-container.r__work-in-progress
//-         img.project-container__project__image-container--image.r__project-container__project__image-container--image(src="/DIST/CSS/Images/KingRichard-Landing.svg")
//-       article.project-container__project__article.r__project-container__project__article
//-         header.project-container__project__article__title.r__project-container__project__article__title King Richard Budget
//-         p.project-container__project__article__short-summary.r__project-container__project__article__short-summary A Budget To Help Humanity.
//-         article.project-container__project__article__sub-article.r__project-container__project__article__sub-article
//-           h3.project-container__project__article__sub-article__title.r__project-container__project__article__sub-article__title Category
//-           p.project-container__project__article__sub-article__category.r__project-container__project__article__sub-article__category Family Budget | Web Application
//-         article.project-container__project__article__sub-article.r__project-container__project__article__sub-article
//-           h3.project-container__project__article__sub-article__title.r__project-container__project__article__sub-article__title Technology Used
//-           ul.project-container__project__article__sub-article__technology-used.r__project-container__project__article__sub-article__technology-used
//-             li.project-container__project__article__sub-article__technology-used__list-item.r__project-container__project__article__sub-article__technology-used__list-item
//-               p.project-container__project__article__sub-article__technology-used__list-item__technology.r__project-container__project__article__sub-article__technology-used__list-item__technology HTML5
//-             li.project-container__project__article__sub-article__technology-used__list-item.r__project-container__project__article__sub-article__technology-used__list-item
//-               p.project-container__project__article__sub-article__technology-used__list-item__technology.r__project-container__project__article__sub-article__technology-used__list-item__technology CSS3
//-             li.project-container__project__article__sub-article__technology-used__list-item.r__project-container__project__article__sub-article__technology-used__list-item
//-               p.project-container__project__article__sub-article__technology-used__list-item__technology.r__project-container__project__article__sub-article__technology-used__list-item__technology JavaScript
//-             li.project-container__project__article__sub-article__technology-used__list-item.r__project-container__project__article__sub-article__technology-used__list-item
//-               p.project-container__project__article__sub-article__technology-used__list-item__technology.r__project-container__project__article__sub-article__technology-used__list-item__technology Pug
//-             li.project-container__project__article__sub-article__technology-used__list-item.r__project-container__project__article__sub-article__technology-used__list-item
//-               p.project-container__project__article__sub-article__technology-used__list-item__technology.r__project-container__project__article__sub-article__technology-used__list-item__technology NodeJS
//-             li.project-container__project__article__sub-article__technology-used__list-item.r__project-container__project__article__sub-article__technology-used__list-item
//-               p.project-container__project__article__sub-article__technology-used__list-item__technology.r__project-container__project__article__sub-article__technology-used__list-item__technology Express
//-         a.project-container__project__article__link.r__project-container__project__article__link(href="https://github.com/ncluff003/KingRichard-Budget") View Code
//-         a.project-container__project__article__link.r__project-container__project__article__link(href="#") View Site
//-     section.project-container__project.r__project-container__project
//-       figure.project-container__project__image-container.r__project-container__project__image-container
//-         img.project-container__project__image-container--image.r__project-container__project__image-container--image(src="/DIST/CSS/Images/Hangman.svg")
//-       article.project-container__project__article.r__project-container__project__article
//-         header.project-container__project__article__title.r__project-container__project__article__title Hangman
//-         p.project-container__project__article__short-summary.r__project-container__project__article__short-summary A game for families and friends.
//-         article.project-container__project__article__sub-article.r__project-container__project__article__sub-article
//-           h3.project-container__project__article__sub-article__title.r__project-container__project__article__sub-article__title Category
//-           p.project-container__project__article__sub-article__category.r__project-container__project__article__sub-article__category Family Game
//-         article.project-container__project__article__sub-article.r__project-container__project__article__sub-article
//-           h3.project-container__project__article__sub-article__title.r__project-container__project__article__sub-article__title Technology Used
//-           ul.project-container__project__article__sub-article__technology-used.r__project-container__project__article__sub-article__technology-used
//-             li.project-container__project__article__sub-article__technology-used__list-item.r__project-container__project__article__sub-article__technology-used__list-item
//-               p.project-container__project__article__sub-article__technology-used__list-item__technology.r__project-container__project__article__sub-article__technology-used__list-item__technology HTML5
//-             li.project-container__project__article__sub-article__technology-used__list-item.r__project-container__project__article__sub-article__technology-used__list-item
//-               p.project-container__project__article__sub-article__technology-used__list-item__technology.r__project-container__project__article__sub-article__technology-used__list-item__technology CSS3
//-             li.project-container__project__article__sub-article__technology-used__list-item.r__project-container__project__article__sub-article__technology-used__list-item
//-               p.project-container__project__article__sub-article__technology-used__list-item__technology.r__project-container__project__article__sub-article__technology-used__list-item__technology JavaScript
//-             li.project-container__project__article__sub-article__technology-used__list-item.r__project-container__project__article__sub-article__technology-used__list-item
//-               p.project-container__project__article__sub-article__technology-used__list-item__technology.r__project-container__project__article__sub-article__technology-used__list-item__technology VueJS
//-             li.project-container__project__article__sub-article__technology-used__list-item.r__project-container__project__article__sub-article__technology-used__list-item
//-               p.project-container__project__article__sub-article__technology-used__list-item__technology.r__project-container__project__article__sub-article__technology-used__list-item__technology ViteJS
//-         a.project-container__project__article__link.r__project-container__project__article__link(href="https://github.com/ncluff003/Hangman") View Code
//-         a.project-container__project__article__link.r__project-container__project__article__link(href="https://ncluff003.github.io/Hangman/") View Site
//-     section.project-container__project.r__project-container__project
//-       figure.project-container__project__image-container.r__project-container__project__image-container
//-         img.project-container__project__image-container--image.r__project-container__project__image-container--image(src="/DIST/CSS/Images/Doable.svg")
//-       article.project-container__project__article.r__project-container__project__article
//-         header.project-container__project__article__title.r__project-container__project__article__title Doable
//-         p.project-container__project__article__short-summary.r__project-container__project__article__short-summary A Simple To Do List.
//-         article.project-container__project__article__sub-article.r__project-container__project__article__sub-article
//-           h3.project-container__project__article__sub-article__title.r__project-container__project__article__sub-article__title Category
//-           p.project-container__project__article__sub-article__category.r__project-container__project__article__sub-article__category Sample Productivity App.
//-         article.project-container__project__article__sub-article.r__project-container__project__article__sub-article
//-           h3.project-container__project__article__sub-article__title.r__project-container__project__article__sub-article__title Technology Used
//-           ul.project-container__project__article__sub-article__technology-used.r__project-container__project__article__sub-article__technology-used
//-             li.project-container__project__article__sub-article__technology-used__list-item.r__project-container__project__article__sub-article__technology-used__list-item
//-               p.project-container__project__article__sub-article__technology-used__list-item__technology.r__project-container__project__article__sub-article__technology-used__list-item__technology HTML5
//-             li.project-container__project__article__sub-article__technology-used__list-item.r__project-container__project__article__sub-article__technology-used__list-item
//-               p.project-container__project__article__sub-article__technology-used__list-item__technology.r__project-container__project__article__sub-article__technology-used__list-item__technology CSS3
//-             li.project-container__project__article__sub-article__technology-used__list-item.r__project-container__project__article__sub-article__technology-used__list-item
//-               p.project-container__project__article__sub-article__technology-used__list-item__technology.r__project-container__project__article__sub-article__technology-used__list-item__technology JavaScript
//-             li.project-container__project__article__sub-article__technology-used__list-item.r__project-container__project__article__sub-article__technology-used__list-item
//-               p.project-container__project__article__sub-article__technology-used__list-item__technology.r__project-container__project__article__sub-article__technology-used__list-item__technology React.js
//-         a.project-container__project__article__link.r__project-container__project__article__link(href="https://github.com/ncluff003/Doable") View Code
//-         a.project-container__project__article__link.r__project-container__project__article__link(href="https://ncluff003.github.io/Doable/") View Site
    