extends base

block site-content
  section.project-container
    section.project-container__project
      figure.project-container__project__image-container
        img.project-container__project__image-container--image(src="/DIST/CSS/Images/Computer_Desktop_Image.svg")
      article.project-container__project__article
        header.project-container__project__article__title Pure N Spiration
        p.project-container__project__article__short-summary
        article.project-container__project__article__sub-article
          h3.project-container__project__article__sub-article__title Category
          p.project-container__project__article__sub-article__category Personal Classroom &amp; Playground
        article.project-container__project__article__sub-article
          h3.project-container__project__article__sub-article__title Technology Used
          ul.project-container__project__article__sub-article__technology-used
            li.project-container__project__article__sub-article__technology-used__list-item
              p.project-container__project__article__sub-article__technology-used__list-item__technology HTML5
            li.project-container__project__article__sub-article__technology-used__list-item
              p.project-container__project__article__sub-article__technology-used__list-item__technology CSS3
            li.project-container__project__article__sub-article__technology-used__list-item
              p.project-container__project__article__sub-article__technology-used__list-item__technology JavaScript
            li.project-container__project__article__sub-article__technology-used__list-item
              p.project-container__project__article__sub-article__technology-used__list-item__technology Pug
            li.project-container__project__article__sub-article__technology-used__list-item
              p.project-container__project__article__sub-article__technology-used__list-item__technology NodeJS
            li.project-container__project__article__sub-article__technology-used__list-item
              p.project-container__project__article__sub-article__technology-used__list-item__technology Express
        a.project-container__project__link(href="https://github.com/ncluff003/PureNSpiration") View Code
        a.project-container__project__link(href="/") View Site
    section.project-container__project
      figure.project-container__project__image-container.work-in-progress
        img.project-container__project__image-container--image(src="/DIST/CSS/Images/KingRichard-Logo--COVER.svg")
      article.project-container__project__article
        header.project-container__project__article__title King Richard Budget
        p.project-container__project__article__short-summary
        article.project-container__project__article__sub-article
          h3.project-container__project__article__sub-article__title Category
          p.project-container__project__article__sub-article__category Family Budget | Web Application
        article.project-container__project__article__sub-article
          h3.project-container__project__article__sub-article__title Technology Used
          ul.project-container__project__article__sub-article__technology-used
            li.project-container__project__article__sub-article__technology-used__list-item
              p.project-container__project__article__sub-article__technology-used__list-item__technology HTML5
            li.project-container__project__article__sub-article__technology-used__list-item
              p.project-container__project__article__sub-article__technology-used__list-item__technology CSS3
            li.project-container__project__article__sub-article__technology-used__list-item
              p.project-container__project__article__sub-article__technology-used__list-item__technology JavaScript
            li.project-container__project__article__sub-article__technology-used__list-item
              p.project-container__project__article__sub-article__technology-used__list-item__technology Pug
            li.project-container__project__article__sub-article__technology-used__list-item
              p.project-container__project__article__sub-article__technology-used__list-item__technology NodeJS
            li.project-container__project__article__sub-article__technology-used__list-item
              p.project-container__project__article__sub-article__technology-used__list-item__technology Express
        a.project-container__project__link(href="https://github.com/ncluff003/KingRichard-Budget") View Code
        a.project-container__project__link(href="#") View Site