block unique-content
  section.pentagon-side.r__pentagon-side
    section.grid.r__grid
      section.flex-container--resume.r__flex-container--resume.column_1-24.row_1-18
        .resume-container.r__resume-container
          embed(src="/DIST/CSS/Images/N_Cluff_Resume--Full-Stack.pdf", type="application/pdf")