@use '../../../../../Public/SCSS/Utilities/Variables' as *;
@use '../../../../../Public/SCSS/Utilities/Mixins' as *;

/////////////////////////////////
// Base

html {
  font-family: Purely Me, Century Gothic, Verdana, sans-serif;
  font-variant-ligatures: none;
}

// TV TYPOGRAPHY
.r__grid {
  @include responsiveBreakPoint('tv') {
    .r__introduction-container {
      &__introduction {
        .r__name-container {
          .r__name {
            font-size: 12rem;
          }

          .r__headline {
            font-size: 3rem;
          }
        }
        .r__cta-container {
          .r__cta-link {
            font-size: 3rem;
          }
        }
      }
    }
    .r__latest-project {
      .r__connect--home {
        &__title {
          font-size: 4rem;
        }
        &__link {
          font-size: 7rem;
        }
      }
      &__project-view {
        &__header {
          &__title {
            font-size: 6rem;
          }
        }
      }
    }
    .r__about-link {
      &__icon {
        font-size: 45rem;
      }
      &__text {
        font-size: 8rem;
      }
    }
  }
}
