@use "../../../../Public/SCSS/Responsive/Utilities/Responsive-Mixins" as *;
@use "../../../../Public/SCSS/Responsive/Utilities/Responsive-Variables" as *;

.r__ {
  &vertical-flex-container {
    .r__navigation {
      // Tablet Landscape - Navigation
      @include combo-max-responsive(1400px, 1050px) {
        &__logo {
          width: 25%;
          &__logoImg {
            margin-right: 1rem;
          }
        }
      }

      @include combo-max-responsive(1050px, 1400px) {
        &__logo {
          width: 30%;
          &__logoImg {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
