@use "../../../../Public/SCSS/Responsive/Utilities/Responsive-Mixins" as *;
@use "../../../../Public/SCSS/Responsive/Utilities/Responsive-Variables" as *;

////////////////////////////////////////////////
//  Vertical Flex Container

.vertical-flex-container {
  ////////////////////////////////////////////////
  //  Navigation

  ////////////////////////////////////////////////
  //  Flex Section

  .flex-section {
    .grid-container {
      .introduction-button-container {
        .introduction-button {
          @include SizeAndPositioning(relative, 60%, 27.5%, flex, center, center, 0, 0, 0);
          border: 0.2rem solid rgba($secondaryColor, 0.8);
          border-radius: 5rem;
          transition: transform 1s, opacity 1s, background-color 0.5s, color 0.5s;

          &--hiddenLeft {
            @include SizeAndPositioning(relative, 60%, 30%, flex, center, center, 0, 0, 0);
            opacity: 0;
            transform: translateX(-25rem);
            visibility: hidden;
          }
          &--hiddenDown {
            @include SizeAndPositioning(relative, 60%, 30%, flex, center, center, 0, 0, 0);
            opacity: 0;
            transform: translateY(25rem);
            visibility: hidden;
          }

          &--hiddenRight {
            @include SizeAndPositioning(relative, 60%, 30%, flex, center, center, 0, 0, 0);
            opacity: 0;
            transform: translateX(25rem);
            visibility: hidden;
          }

          &:hover {
            background-color: $secondaryColor;
            border: 0.2rem groove $secondaryColor;
          }

          &:active {
            background-color: $primaryColor;
            border: 0.2rem inset $primaryColor;
          }
        }
      }
      .showcase-grid {
        button {
          @include SizeAndPositioning(absolute, 7.5rem, 7.5rem, flex, center, center, 0, 0, 0);
          background-color: rgba($colorLightestGrey, 0.2);
          border: 0.2rem groove rgba($colorDarkGrey, 0.8);
          border-radius: 50%;
          z-index: 10;
          &:hover {
            cursor: pointer;
            border: 0.2rem groove $colorDarkGrey;
            color: $colorLighterGrey;
            background-color: $colorDarkerGrey;
          }
          transition: border 0.5s, color 0.5s, background-color 0.5s;
        }
        .card-button-left {
          left: 5%;
          top: 50%;
          transform: translateY(-50%);
        }
        .card-button-right {
          right: 5%;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .about-me-container {
        &__option-slider {
          button {
            @include SizeAndPositioning(absolute, 7.5rem, 7.5rem, flex, center, center, 0, 0, 0);
            background-color: rgba($colorLightestGrey, 0.2);
            border: 0.2rem groove rgba($colorDarkGrey, 0.8);
            border-radius: 50%;
            z-index: 10;
            &:hover {
              cursor: pointer;
              border: 0.2rem groove $colorDarkGrey;
              color: $colorLighterGrey;
              background-color: $colorDarkerGrey;
            }
            transition: border 0.5s, color 0.5s, background-color 0.5s;
          }
          .card-button-left {
            left: 5%;
            top: 50%;
            transform: translateY(-50%);
          }
          .card-button-right {
            right: 5%;
            top: 50%;
            transform: translateY(-50%);
          }
          // Mobile Large Portrait
          @include combo-max-responsive(425px, 930px) {
            @include grid-layout(100vh, 100vw, repeat(10, 1fr), repeat(12, 1fr), 0, 0);
            .card-button-left,
            .card-button-right {
              height: 5rem;
              width: 5rem;
              border: 0.2rem groove rgba($colorDarkGrey, 0.4);
            }
          }
        }
      }
    }
  }
}
