@use "../../../../Public/SCSS/Responsive/Utilities/Responsive-Mixins" as *;
@use "../../../../Public/SCSS/Responsive/Utilities/Responsive-Variables" as *;

.r__ {
  &vertical-flex-container {
    .r__navigation {
      // Tablet Landscape - Navigation
      @include combo-max-responsive(1400px, 1050px) {
        &__logo {
          width: 25%;
          &__logoImg {
            margin-right: 1rem;
          }
        }
      }

      @include combo-max-responsive(1050px, 1400px) {
        &__logo {
          width: 30%;
          &__logoImg {
            margin-right: 1rem;
          }
        }
      }

      @include combo-max-responsive(800px, 1050px) {
        &__logo {
          margin-left: 2rem;
          width: 40%;
          &__logoImg {
            margin-right: 1rem;
          }
        }
        &__links {
          display: none;
        }
        .r__hamburger-menu {
          display: flex;
          margin-right: 3rem;
          &:hover {
            cursor: pointer;
          }
        }
      }

      @include combo-max-responsive(930px, 425px) {
        #r__navigation__logo {
          width: 40%;
          margin-left: 1.25rem;
          justify-content: flex-start;
          .r__navigation__logo__logoImg {
            margin-right: 2rem;
          }
        }
      }

      @include combo-max-responsive(425px, 930px) {
        #r__navigation__logo {
          width: 80%;
          margin-left: 1.25rem;
          justify-content: flex-start;
          .r__navigation__logo__logoImg {
            height: auto;
            width: 5rem;
            margin-right: 2rem;
          }
        }
        &__links {
          display: none;
        }
      }
    }
  }
}
