@use '../../../../../Public/SCSS/Utilities/Variables' as *;
@use '../../../../../Public/SCSS/Utilities/Mixins' as *;

.r__grid {
  @include responsiveBreakPoint('largeTabPort') {
    .r__introduction-container {
      grid-column: 3 / span 8;
      grid-row: 6 / span 11;

      flex-flow: column nowrap;

      .r__image-container {
        height: 33%;
        width: 100%;
      }

      &__introduction {
        height: 67%;
        width: 100%;
        justify-content: flex-start;
        .r__name-container {
          align-items: center;
          height: 20%;
        }
        .r__cta-container {
          justify-content: center;

          .r__cta-link {
            transform: rotate(0) translate(0, 3rem);
          }
        }
      }
    }

    .r__latest-project,
    .r__latest-blog-post {
      display: none;
    }
  }
}
