@use '../../../../../Public/SCSS/Utilities/Variables' as *;
@use '../../../../../Public/SCSS/Utilities/Mixins' as *;

/////////////////////////////////
// Base

html {
  font-family: Purely Me, Century Gothic, Verdana, sans-serif;
  font-variant-ligatures: none;
}

@include responsiveBreakPoint('smallTabLand') {
  .r__grid {
    .r__navigation-container {
      .r__mobile-navigation {
        &__link-list {
          &__link-item {
            &__link {
              font-size: 5rem;
            }
          }
        }
      }
    }
  }
}
