@use "../../../Public/SCSS/Utilities/Mixins" as *;
@use "../../../Public/SCSS/Utilities/Variables" as *;

/*
    //////////////////////////////////
    /// To Do List:

    MUSTDO : Record A Short Video finishing my introduction on the About Section.
    MUSTDO : Push what I have to Namecheap.com on my domain listed as Purenspiration.com
    MUSTDO : Finish by doing a final review, add, commit, & push to my local repo to be sure of what is needed there.
    MUSTDO : Update my links on the project cards & re-push to Namecheap.com for my site.
    MUSTDO : Clean up code on my site to make it both readable & still efficient WHILE applying for jobs.
    MUSTDO : Again, while applying for jobs, I will be needing to make my site much more mobile friendly.  This will be done by refreshing my mind on what CSS I need to be doing in order for that to be achieved.  While doing this one with media queries, I can also clean up my SCSS.
    MUSTDO : While applying for jobs, keep working on the budget site & reset these goals on the base scss file for that budget.
    
    
    //////////////////////////////////
    /// Glitches To Fix

    GLITCH : Some of the About Container bottom is cut out before the keyboard arrows work, unlike the Skills & Portfolio Sections.

    //////////////////////////////////
    /// Adjustments To Make

    ADJUST : Remove Arrow Functions from Methods.
    ADJUST : Refactor Code to make it so functions / methods only use up to 5 parameters max.
    ADJUST : Remove unecessary style rules in my email stylesheet.


    //////////////////////////////////
    /// Features To Implement

    FEATURE : Responsive Design according to the screen that is used by the client.
    FEATURE : Mobile navigation with the hamburger menu.
*/

//////////////////////////////////
///  Foundation Settings

*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem should be
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  @include SizingItem(relative, 100%, 100vw);
  background-color: $colorDarkestGrey;
  overflow-x: hidden;
}

////////////////////////////////////////////////
//  Vertical Flex Container

.vertical-flex-container {
  background-color: $colorDarkestGrey;

  ////////////////////////////////////////////////
  //  Navigation

  ////////////////////////////////////////////////
  //  Flex Section
  .flex-section {
    &:not(:first-of-type) {
      border-top: 0.2rem groove rgba($colorDarkerGrey, 0.8);
    }

    .grid-container {
      .typing-text-container {
        @include SizeAndPositioning(relative, 100%, 100%, flex, center, center, 0, 0, 0);
        padding: 0 5rem;

        .typing-text--cursor {
          @include SizingItem(relative, 50%, 0.8rem);
          background-color: $secondaryColor;
          margin-left: 1rem;
          animation: blink 0.75s step-end infinite;
        }
      }

      .introduction-button-container {
        @include SizeAndPositioning(relative, 100%, 100%, flex, space-evenly, center, 0, 0, 0);
      }

      .about-me-container {
        @include SizeAndPositioning(relative, 100%, 100%, flex, space-evenly, center, 0, 0, 0);
        flex-direction: column;

        &__option-slider {
          @include SizeAndPositioning(relative, 75%, 100%, flex, stretch, center, 0, 0, 0);
          flex-direction: row;
          overflow: hidden;

          &--option {
            @include SizeAndPositioning(absolute, 100%, 100%, flex, center, center, 0, 0, 0);
            top: 0;
            .about-typing-text-container {
              @include SizeAndPositioning(relative, 30.14%, 100%, flex, center, center, 0, 0, 0);
              padding: 0 5rem;
              .about-typing-text--cursor {
                @include SizingItem(relative, 70%, 0.8rem);
                background-color: $secondaryColor;
                margin-left: 1rem;
                animation: blink 0.75s step-end infinite;
              }
            }
            .about-me-video {
              @include SizingItem(relative, 100%, 60%);
            }

            &--2 {
              transform: translateX(100%);
            }

            &--1,
            &--2 {
              transition: transform 1s;
            }
          }
        }
        &__option-navigation {
          @include SizeAndPositioning(relative, 25%, 100%, flex, center, flex-start, 0, 0, 0);
          padding: 3rem;

          &__dot {
            @include SizingItem(relative, 2rem, 2rem);
            border: none;
            border-radius: 50%;
            background-color: rgba($colorGrey, 0.5);
            margin: 0 1rem;

            &:hover {
              cursor: pointer;
              background-color: rgba($colorDarkGrey, 0.8);
            }

            &--active {
              background-color: $colorDarkerGrey;
              &:hover {
                background-color: $colorDarkerGrey;
              }
            }
          }
        }
      }

      .section-header {
        @include SizeAndPositioning(relative, 100%, 100%, flex, center, center, 0, 0, 0);
      }

      .showcase-grid {
        @include SizeAndPositioning(relative, 100%, 100%, grid, center, center, 0, 0, 0);
        @include gridLayout(100%, 100%, 1fr, 1fr, 0, 0);
        @include gridPlacement(1, 1, 1, 1);
        overflow: hidden;
        justify-items: center;

        .skill-card {
          // @include SizeAndPositioning(absolute, 60%, 26rem, flex, space-evenly, center, 0, 0, 0);
          @include SizeAndPositioning(relative, 60%, 24rem, flex, center, center, 0, 0, 0);
          right: 0;
          flex-direction: column;
          padding: 2rem;
          border-radius: 1rem;
          background-color: rgba($colorLighterGrey, 0.8);
          opacity: 0.5;
          margin: 0 2rem;

          transition: opacity 1s, transform 1s;

          &--current {
            justify-self: center;
            transform: translateY(-8%);
          }

          .skill-image-container {
            @include SizeAndPositioning(relative, 75%, 100%, flex, center, center, 0, 0, 0);
            margin-bottom: 2rem;
            background-color: $secondaryColor;
            img,
            p {
              @include SizeAndPositioning(relative, 80%, 80%, flex, center, center, 0, 0, 0);
              filter: brightness(0) invert(1);
            }
          }

          .skill-title-container {
            @include SizeAndPositioning(relative, 25%, 100%, flex, center, center, 0, 0, 0);
          }

          &:hover,
          &:active {
            cursor: pointer;
            opacity: 1;
            left: 0;
          }
        }

        .project-card {
          @include SizeAndPositioning(relative, 80%, 60%, flex, center, center, 0, 0, 0);
          background-color: rgba($colorDarkGrey, 0.25);
          padding: 4rem;
          transition: opacity 1s, transform 1s;
          &-cover {
            @include SizeAndPositioning(relative, 100%, 45%, flex, space-evenly, center, 0, 0, 0);
            flex-direction: column;
            &-image-container {
              @include SizeAndPositioning(relative, 75%, 100%, flex, center, center, 0, 0, 0);
              background-color: rgba($colorOffWhite, 0.25);
              img {
                @include SizingItem(relative, 100%, 100%);
                object-fit: cover;
              }
            }
            &-title-container {
              @include SizeAndPositioning(relative, 25%, 100%, flex, center, center, 0, 0, 0);
            }
          }
          &-content {
            @include SizeAndPositioning(relative, 100%, 55%, flex, space-evenly, center, 0, 0, 0);
            flex-direction: column;
            padding-left: 4rem;
            &-description-container {
              @include SizeAndPositioning(relative, 75%, 100%, flex, flex-start, center, 0, 0, 0);
              background-color: rgba($colorOffWhite, 0.5);
              flex-direction: column;
              padding: 2rem;
              text-indent: 2rem;
              overflow-y: auto;
              word-wrap: break-word;
            }
            &-link-container {
              @include SizeAndPositioning(relative, 25%, 100%, flex, space-evenly, center, 0, 0, 0);
              &--link {
                @include SizeAndPositioning(relative, 60%, 40%, flex, center, center, 0, 0, 0);
                border: 0.2rem groove rgba($secondaryColor, 0.8);
                border-radius: 5rem;
                transform: translateY(1rem);
                background-color: transparent;
                z-index: 3;
                &:hover {
                  cursor: pointer;
                  background-color: $secondaryColor;
                  transition: background-color 0.5s, color 0.5s;
                }
              }
            }
          }
          &-work-in-progress {
            &::after {
              @include SizingItem(absolute, 25%, 100%);
              display: flex;
              justify-content: center;
              align-items: center;
              content: 'NOTICE: Work In Progress';
              background-color: rgba($colorDarkestGrey, 0.55);
            }
          }
        }
      }

      .dots {
        @include SizeAndPositioning(relative, 100%, 100%, flex, center, center, 0, 0, 0);
        &__dot {
          @include SizingItem(relative, 2rem, 2rem);
          background-color: rgba($colorLighterGrey, 0.8);
          border: none;
          border-radius: 50%;
          margin: 0 2rem;
          &--active {
            background-color: $colorDarkerGrey;
          }
        }
      }
      .project-count {
        @include SizeAndPositioning(relative, 100%, 100%, flex, center, center, 0, 0, 0);
      }

      // .introduction-button-container {
      //   @include SizeAndPositioning(relative, 100%, 100%, flex, space-evenly, center, 0, 0, 0);
      // Grid placement column 8 span 10 row 11 span 2
      // }

      // GRID CONTAINER RESPONSIVE BREAKPOINT LAYOUTS (WIDTH x HEIGHT)
      // 1921px+ = TV | 48 x 24 | 1921px or more
      // 1281px - 1800px = Desktop | 24 x 18 | 1920px x 1025px
      // 1025px - 1280px = Tablet Landscape | 18 x 12 | 1280px x 800px
      // 800px - 1024px = Tab Portrait | 12 x 18 | 800px x 1280px
      // 600px - 799px = Mobile Landscape | 12 x 10 | 799px x 599px
      // 599px- = Mobile Portrait | 10 x 12 | 599px x 799px

      ///////////////////////
      // RESPONSIVE GRIDS

      @include min-responsive(2560px) {
        @include gridLayout(100vh, 100vw, repeat(48, 1fr), repeat(24, 1fr), 0, 0);
        @include gridPlacement(48, 48, 24, 24);
      }

      @include max-responsive(1800px) {
        @include gridLayout(100vh, 100vw, repeat(24, 1fr), repeat(18, 1fr), 0, 0);
        @include gridPlacement(24, 24, 18, 18);
      }

      @include max-responsive(1280px) {
        @include gridLayout(100vh, 100vw, repeat(18, 1fr), repeat(12, 1fr), 0, 0);
        @include gridPlacement(18, 18, 12, 12);
      }

      @include max-responsive(1024px) {
        @include gridLayout(100vh, 100vw, repeat(12, 1fr), repeat(18, 1fr), 0, 0);
        @include gridPlacement(12, 12, 18, 18);
      }

      @include max-responsive(799px) {
        @include gridLayout(100vh, 100vw, repeat(12, 1fr), repeat(10, 1fr), 0, 0);
        @include gridPlacement(12, 12, 10, 10);
      }

      @include max-responsive(599px) {
        @include gridLayout(100vh, 100vw, repeat(10, 1fr), repeat(12, 1fr), 0, 0);
        @include gridPlacement(10, 10, 12, 12);
      }

      @include min-responsive(2560px) {
        .section-header {
          grid-column: 10 / span 30;
          grid-row: 3 / span 4;
        }
        .typing-text-container {
          grid-column: 3 / span 44;
          grid-row: 10 / span 5;
        }
        .introduction-button-container {
          grid-column: 5 / span 40;
          grid-row: 15 / span 4;
        }
        .about-me-container,
        .showcase-grid {
          grid-column: 5 / span 40;
          grid-row: 7 / span 17;
        }
        .project-count {
          grid-column: 23 / span 3;
          grid-row: 23 / span 1;
        }
        .contact-form {
          grid-column: 14 / span 22;
          grid-row: 6 / span 19;
        }
      }

      @include max-responsive(1800px) {
        .contact-form {
          grid-row: 5 / span 13;
        }
      }

      @include max-responsive(1600px) {
        .introduction-button-container {
          grid-column: 6 / span 14;
        }
      }

      @include max-responsive(1500px) {
        .typing-text-container {
          padding: 0 2rem;
        }
        .about-me-container {
          grid-column: 1 / -1;
        }
      }

      @include max-responsive(1440px) {
        .showcase-grid {
          grid-column: 3 / span 20;
        }
      }

      @include max-responsive(1300px) {
        .contact-form {
          grid-column: 5 / span 16;
        }
      }

      @include max-responsive(1280px) {
        .section-header {
          grid-column: 4 / span 12;
          grid-row: 2 / span 2;
        }
        .typing-text-container {
          grid-column: 2 / span 16;
          grid-row: 5 / span 3;
        }
        .introduction-button-container {
          grid-column: 3 / span 14;
          grid-row: 7 / span 2;
        }
        .about-me-container {
          grid-row: 5 / span 8;
        }
        .showcase-grid {
          grid-column: 3 / span 14;
          grid-row: 5 / span 7;
        }
        .contact-form {
          grid-column: 4 / span 12;
          grid-row: 4 / span 10;
        }
      }

      @include max-responsive(1200px) {
        .typing-text-container {
          .typing-text--cursor {
            height: 45%;
            width: 0.6rem;
          }
        }
        .about-me-container {
          &__option-slider {
            &--option {
              .about-typing-text-container {
                .about-typing-text--cursor {
                  width: 0.6rem;
                }
              }
            }
          }
        }
      }

      @include max-responsive(1024px) {
        .section-header {
          grid-column: 3 / span 8;
          grid-row: 3 / span 2;
        }
        .typing-text-container {
          grid-column: 2 / span 10;
          grid-row: 8 / span 3;
        }
        .introduction-button-container {
          grid-column: 1 / -1;
          grid-row: 11 / span 2;
        }
        .about-me-container {
          grid-row: 7 / span 12;
        }
        .showcase-grid {
          grid-column: 1 / -1;
          grid-row: 7 / span 11;
        }
        .contact-form {
          grid-column: 2 / span 10;
          grid-row: 5 / span 13;
        }
      }

      @include max-responsive(900px) {
        .typing-text-container {
          .typing-text--cursor {
            height: 40%;
            width: 0.5rem;
          }
        }
      }

      // Under 775px it is time to try resizing the window for mobile landscape.  Moving height to 400px.
      // Under 600px and over 400px, I will do the same thing as just above, except also test it at 800px in height & make the compromize.
      // Under 400px, I will resize the window for the final time to 400px width & 800px height to test.

      @include max-responsive(799px) {
        .section-header {
          grid-column: 2 / span 10;
          grid-row: 2 / span 2;
        }
        .typing-text-container {
          grid-column: 2 / span 10;
          grid-row: 4 / span 2;
          .typing-text--cursor {
            height: 40%;
            width: 0.5rem;
          }
        }
        .introduction-button-container {
          grid-column: 2 / span 10;
          grid-row: 6 / span 3;
        }
        .about-me-container {
          grid-row: 4 / span 7;
          .card-button-left,
          .card-button-right {
            height: 6rem;
            width: 6rem;
          }
          &__option-slider {
            &--option {
              .about-typing-text-container {
                .about-typing-text--cursor {
                  height: 40%;
                  width: 0.4rem;
                }
              }
            }
          }
          &__option-navigation {
            &__dot {
              height: 2.5rem;
              width: 2.5rem;
            }
          }
        }
        .showcase-grid {
          grid-row: 4 / span 7;
        }
        .contact-form {
          grid-column: 1 / -1;
          grid-row: 3 / span 8;
        }
      }

      @include max-responsive(700px) {
        .section-header {
          grid-row: 1 / span 2;
        }
        #contact {
          align-items: flex-start;
          padding-top: 6rem;
          grid-row: 1 / span 1;
        }
        .contact-form {
          grid-column: 1 / -1;
          grid-row: 2 / span 9;
        }
      }

      @include max-responsive(599px) {
        .section-header {
          grid-column: 1 / -1;
          grid-row: 3 / span 2;
        }
        .typing-text-container {
          grid-column: 2 / span 8;
          grid-row: 4 / span 2;
          padding: 0;
          .typing-text--cursor {
            height: 30%;
            width: 0.4rem;
          }
        }
        .introduction-button-container {
          flex-direction: column;
          grid-column: 2 / span 8;
          grid-row: 6 / span 5;
        }
        .about-me-container {
          grid-row: 4 / span 8;
        }
        .showcase-grid {
          grid-row: 5 / span 7;
        }
        .contact-form {
          grid-row: 4 / span 9;
        }
        #contact {
          grid-row: 1 / span 2;
          align-items: flex-end;
        }
      }

      @include min-responsive(2560px) {
        .section-header {
          grid-column: 10 / span 30;
          grid-row: 3 / span 4;
        }
        .typing-text-container {
          grid-column: 3 / span 44;
          grid-row: 10 / span 5;
        }
        .introduction-button-container {
          grid-column: 5 / span 40;
          grid-row: 15 / span 4;
        }
        .about-me-container,
        .showcase-grid {
          grid-column: 5 / span 40;
          grid-row: 7 / span 17;
        }
        .project-count {
          grid-column: 23 / span 3;
          grid-row: 23 / span 1;
        }
        .contact-form {
          grid-column: 14 / span 22;
          grid-row: 6 / span 19;
        }
      }

      @include max-responsive(475px) {
        .about-me-container {
          grid-row: 5 / span 7;
          .card-button-left,
          .card-button-right {
            height: 4rem;
            width: 4rem;
          }
        }
        .showcase-grid {
          .skill-card {
            width: 22rem;
            .skill-image-container {
              padding: 1rem;
            }
          }
        }
      }

      @include max-responsive(425px) {
        .section-header {
          grid-row: 3 / span 2;
          align-items: center;
        }
        .typing-text-container {
          .typing-text--cursor {
            height: 20%;
            width: 0.3rem;
          }
        }
        .about-me-container {
          &__option-slider {
            &--option {
              .about-me-video {
                height: 65%;
                width: 70%;
              }
            }
          }
          .card-button-left,
          .card-button-right {
            height: 3rem;
            width: 3rem;
          }
        }
        .showcase-grid {
          grid-row: 5 / span 7;
          .card-button-left,
          .card-button-right {
            height: 4rem;
            width: 4rem;
          }
        }
      }

      @include max-responsive(350px) {
        .typing-text-container {
          .typing-text--cursor {
            height: 15%;
          }
        }
        .introduction-button-container {
          grid-column: 1 / -1;
        }
        .showcase-grid {
          .skill-card {
            width: 20rem;
          }
        }
      }

      @include combo-maxMin-responsive(1300px, 850px) {
        .showcase-grid {
          grid-row: 6 / span 11;
        }
      }

      @include combo-maxMin-responsive(1280px, 800px) {
        .showcase-grid {
          grid-row: 5 / span 7;
        }
        .project-count {
          grid-column: 9 / span 2;
          grid-row: 11 / span 1;
        }
      }

      @include combo-maxMin-responsive(1125px, 800px) {
        .showcase-grid {
          grid-column: 1 / -1;
          grid-row: 5 / span 8;
        }
        .project-count {
          grid-column: 9 / span 2;
          grid-row: 12 / span 1;
        }
      }

      @include combo-maxMin-responsive(1024px, 800px) {
        .showcase-grid {
          grid-row: 7 / span 10;
        }
        .project-count {
          grid-column: 6 / span 2;
          grid-row: 16 / span 1;
        }
      }

      @include combo-maxMin-responsive(925px, 500px) {
        .showcase-grid {
          .project-card {
            width: 75%;
          }
          .card-button-left,
          .card-button-right {
            height: 4rem;
            width: 4rem;
          }
        }
      }

      // As a reminder, I am on the skill & project cards, particularly the project ones about getting them sized for the 800px width & 400px height.  If I cannot get it well enough, then I will skip it after tomorrow.  Mainly to allow that ONE 'flaw' to be present if necessary for now.

      @include combo-maxMin-responsive(800px, 400px) {
        .showcase-grid {
          grid-column: 2 / span 10;
          grid-row: 4 / span 7;
          .skill-card {
            height: 95%;
          }
          .project-card {
            height: 80%;
            width: 75%;
          }
          .card-button-left,
          .card-button-right {
            height: 4rem;
            width: 4rem;
          }
        }
        #project {
          align-items: flex-start;
          .project-card {
            &-content {
              &-description-container {
                padding: 0.5rem;
              }
            }
          }
        }
        .project-count {
          grid-column: 6 / span 2;
          grid-row: 10 / span 1;
        }
      }

      @include combo-maxMin-responsive(800px, 500px) {
        .showcase-grid {
          grid-column: 2 / span 10;
          grid-row: 4 / span 6;
          .skill-card {
            height: 80%;
            width: 16rem;
          }
        }
      }

      @include combo-maxMin-responsive(800px, 800px) {
        .showcase-grid {
          grid-column: 1 / -1;
          grid-row: 4 / span 5;
        }
        .project-count {
          grid-row: 8 / span 1;
        }
      }

      @include combo-maxMin-responsive(650px, 800px) {
        .section-header {
          grid-row: 2 / span 1;
        }
        #project {
          align-items: center;
          grid-row: 3 / span 7;
          .project-card {
            flex-direction: column;
            height: 100%;
            padding: 7rem 2rem 2rem;
            &-cover,
            &-content {
              height: 50%;
              width: 100%;
            }

            &-cover {
              &-title-container {
                margin-bottom: 2rem;
              }
            }

            &-content {
              padding-left: 0;
              &-description-container {
                height: 75%;
                width: 100%;
                padding: 1.2rem;
              }
              &-link-container {
                align-items: flex-start;
                padding-top: 0.5rem;
              }
            }
          }
        }
        .project-count {
          grid-row: 10 / span 1;
        }
      }

      @include combo-maxMin-responsive(600px, 800px) {
        #project {
          grid-row: 3 / span 9;
        }
        .project-count {
          grid-column: 5 / span 2;
          grid-row: 12 / span 1;
        }
      }

      @include combo-maxMin-responsive(525px, 800px) {
        #project {
          .card-button-left,
          .card-button-right {
            height: 2.5rem;
            width: 2.5rem;
          }
        }
      }

      @include combo-maxMin-responsive(415px, 800px) {
        #project {
          .project-card {
            padding-top: 4rem;
            padding-bottom: 2rem;
            &-cover {
              height: 45%;
            }
            &-content {
              justify-content: space-between;
              height: 45%;
              &-description-container {
                height: 80%;
              }
              &-link-container {
                align-items: center;
              }
            }
          }
          .card-button-left,
          .card-button-right {
            height: 2.5rem;
            width: 2.5rem;
          }
        }
      }

      @include combo-maxMin-responsive(375px, 800px) {
        #project {
          .project-card {
            width: 90%;
            &-content {
              &-link-container {
                align-items: flex-start;
              }
            }
          }
          .card-button-left,
          .card-button-right {
            border: 0.2rem groove rgba($colorOffWhite, 0.75);
          }
        }
      }

      @include combo-maxMin-responsive(600px, 500px) {
        .showcase-grid {
          grid-column: 1 / -1;
          grid-row: 5 / span 4;
        }
      }
    }
  }
}
