@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

/*
    //////////////////////////////////
    /// To Do List:

    MUSTDO : Record A Short Video finishing my introduction on the About Section.
    MUSTDO : Push what I have to Namecheap.com on my domain listed as Purenspiration.com
    MUSTDO : Finish by doing a final review, add, commit, & push to my local repo to be sure of what is needed there.
    MUSTDO : Update my links on the project cards & re-push to Namecheap.com for my site.
    MUSTDO : Clean up code on my site to make it both readable & still efficient WHILE applying for jobs.
    MUSTDO : Again, while applying for jobs, I will be needing to make my site much more mobile friendly.  This will be done by refreshing my mind on what CSS I need to be doing in order for that to be achieved.  While doing this one with media queries, I can also clean up my SCSS.
    MUSTDO : While applying for jobs, keep working on the budget site & reset these goals on the base scss file for that budget.
    MUSTDO : Polish up my responsive design for my site.  Particularly, the project cards & maybe the Skill Cards and Contact Form.  For Troublesome sizes, I will need JavaScript To Handle Some Styling because of the inline styles it is already creating.
    
    
    //////////////////////////////////
    /// Glitches To Fix

    GLITCH : Gradient Overlay of Mobile Portrait Small does not stay at the bottom of the container.  It scrollw WITH the container items.

    //////////////////////////////////
    /// Adjustments To Make

    ADJUST : Remove Arrow Functions from Methods.
    ADJUST : Refactor Code to make it so functions / methods only use up to 5 parameters max.
    ADJUST : Remove unecessary style rules in my email stylesheet.
    ADJUST : Readjust so every file imports the same variables, AND mixins.


    //////////////////////////////////
    /// Features To Implement

    FEATURE : Responsive Design according to the screen that is used by the client.
    FEATURE : Mobile navigation with the hamburger menu.
*/

//////////////////////////////////
///  Foundation Settings

*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem should be
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  @include SizingItem(relative, 100%, 100vw);
  background-color: $colorDarkGrey;
  overflow-x: hidden;
}

.navigation-header--open {
  transform: translateY(0);
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-PureNSpiration_Logo--night {
  margin-right: 2rem;
}

.closed {
  display: none !important;
}
.open {
  display: flex;
}

.full-width {
  width: 100%;
}

.zero-width {
  width: 0;
}

.pseudo-before-full-width {
  &:before {
    width: 100%;
  }
}

.pseudo-before-zero-width {
  &:before {
    width: 0;
  }
}

.pseudo-after-full-width {
  &:after {
    width: 100%;
  }
}

.pseudo-after-zero-width {
  &:after {
    width: 0;
  }
}

.day {
  background-color: $colorOffWhite;
  transition: background-color 0.5s;
  &--sky {
    background: url('./../../DIST/CSS/Images/Day-Sky.jpg');
  }

  .overhead-container {
    .time-toggle {
      border: 0.2rem groove rgba($colorMidDarkGrey, 0.8);
      &:hover {
        border-color: $secondaryColor;
      }

      &__switch {
        border: 0.2rem outset rgba($colorMidDarkGrey, 0.8);
        background-color: rgba($colorMidDarkGrey, 0.8);
        &:hover {
          border-color: $secondaryColor;
          background-color: $secondaryColor;
        }
      }
    }
  }
  .pentagon {
    &__inside-ring {
      .pentagon-side {
        background-color: $colorLightestGrey;
        .grid {
          .flex-container {
            &--about,
            &--projects,
            &--resume,
            &--contact {
              background-color: $colorLightestGrey;
            }
          }
        }
      }
    }
  }
}

.night {
  background-color: $colorDarkerGrey;
  transition: background-color 0.5s;
  &--sky {
    background: url('./../../DIST/CSS/Images/Night-Sky.jpg');
  }
  .overhead-container {
    .time-toggle {
      border: 0.2rem groove rgba($colorOffWhite, 0.8);
      &:hover {
        border-color: $colorOffWhite;
      }
      &__switch {
        border: 0.2rem outset rgba($colorLighterGrey, 0.8);
        background-color: rgba($colorLighterGrey, 0.8);
        &:hover {
          border-color: $colorOffWhite;
          background-color: $colorOffWhite;
        }
      }
    }
  }
  .pentagon {
    &__inside-ring {
      .pentagon-side {
        background-color: $colorMidDarkGrey;
        .grid {
          .flex-container {
            &--about,
            &--projects,
            &--resume,
            &--contact {
              background-color: $colorMidDarkGrey;
            }
          }
        }
      }
    }
  }
}

.construction-zone {
  background-color: rgba($colorOffWhite, 0.2);
}
