@use '../../../../../Public/SCSS/Utilities/Variables' as *;
@use '../../../../../Public/SCSS/Utilities/Mixins' as *;

/////////////////////////////////
// Base

html {
  font-family: Purely Me, Century Gothic, Verdana, sans-serif;
  font-variant-ligatures: none;
}

.r__grid {
  @include responsiveBreakPoint('largeTabLand') {
    // HOME PAGE
    .r__introduction-container {
      &__introduction {
        .r__name-container {
          .r__name {
            font-size: 6rem;
          }

          .r__headline {
            font-size: 2rem;
          }
        }
        .r__cta-container {
          .r__cta-link {
            font-size: 2rem;
          }
        }
      }
    }
    .r__latest-project {
      .r__connect--home {
        &__title {
          font-size: 4rem;
        }
        &__link {
          font-size: 7rem;
        }
      }
      &__project-view {
        &__header {
          &__title {
            font-size: 5rem;
          }
        }
        &__link-container {
          &__link {
            font-size: 2rem;
          }
        }
      }
    }

    .r__latest-blog-post {
      .r__blog-header {
        .r__blog-date {
          font-size: 2rem;
        }
        .r__blog-title {
          font-size: 6rem;
        }
        .r__blog-post-title {
          font-size: 3rem;
        }
      }
    }
  }
}
