@use '../../../../../Public/SCSS/Utilities/Variables' as *;
@use '../../../../../Public/SCSS/Utilities/Mixins' as *;

.r__grid {
  @include responsiveBreakPoint('largeTabLand') {
    .r__about-link {
      &:first-of-type {
        grid-column: 2 / span 4;
        grid-row: 6 / span 4;
      }
      &:nth-of-type(2) {
        grid-column: 8 / span 4;
        grid-row: 6 / span 4;
      }
      &:last-of-type {
        grid-column: 14 / span 4;
        grid-row: 6 / span 4;
      }
    }
  }
}
