@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

.flex-container {
  &--about {
    @include SizeAndPositioning(relative, 100%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
    .about-flex-container {
      @include SizeAndPositioning(relative, 60%, 60%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
      &__introduction-container {
        @include SizeAndPositioning(relative, 100%, 50%, flex, column, nowrap, space-evenly, center, 0, 0, 0);
        &__picture-frame {
          @include SizeAndPositioning(relative, 75%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
          overflow: hidden;
          border-radius: 50%;
          &__picture {
            @include SizingItem(relative, 100%, auto);
            border: 0.5rem solid $primaryColor;
            border-radius: 50%;
          }
        }
        &__button-container {
          @include SizeAndPositioning(relative, 25%, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
        }
      }
      &__information-container {
        @include SizeAndPositioning(relative, 100%, 50%, flex, row, nowrap, stretch, center, 0, 0, 0);
        border: 0.2rem groove rgba($primaryColor, 0.8);
        border-radius: 1.5rem;
        overflow: hidden;
        &__left-door,
        &__right-door {
          @include SizeAndPositioning(absolute, 100%, 50%, flex, row, nowrap, center, center, 0, 0, 0);
          transition: width 0.5s, opacity 0.75s;
          background-color: $colorDarkerGrey;
          z-index: 10;
        }
        &__left-door {
          top: 0;
          left: 0;
          border-right: 0.1rem groove rgba($colorOffWhite, 0.125);
          border-top-left-radius: 1rem;
          border-bottom-left-radius: 1rem;
        }
        &__right-door {
          top: 0;
          right: 0;
          border-left: 0.1rem groove rgba($colorOffWhite, 0.125);
          border-top-right-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }
        .door-open {
          width: 0;
          opacity: 0;
          &:first-of-type {
            width: 0;
            opacity: 0;
          }
          &:last-of-type {
            width: 0;
            opacity: 0;
          }
        }
        &__slide {
          @include SizeAndPositioning(absolute, 100%, 100%, flex, column, nowrap, space-evenly, center, 0, 0, 0);
          padding: 2rem;
          transition: transform 0.5s;
          &__header {
            @include SizeAndPositioning(relative, 20%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
          }
          &__container {
            @include SizeAndPositioning(relative, 80%, 100%, flex, column, nowrap, flex-start, center, 0, 0, 0);
            margin-top: 2rem;
            overflow-y: hidden;
            &__text-container {
              @include SizingItem(relative, 70%, 100%);
              margin-bottom: 2rem;
              overflow-y: auto;
              &__text {
                margin-bottom: 2rem;
              }
            }

            &__inner-slide {
              @include SizeAndPositioning(absolute, 100%, 100%, flex, column, nowrap, space-evenly, center, 0, 0, 0);
              transition: transform 0.5s;
              &__header {
                @include SizeAndPositioning(relative, 20%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
                margin-bottom: 2rem;
              }
              &__skill-container {
                @include SizeAndPositioning(relative, 80%, 100%, flex, row, wrap, center, flex-start, 0, 0, 0);
                &__skill {
                  @include SizingItem(relative, max-content, max-content);
                  padding: 1rem 2rem;
                  border: 0.3rem groove rgba(transparent, 0.8);
                  border-radius: 0.5rem;
                  margin: 0 0.5rem;
                  &:hover {
                    cursor: pointer;
                    transition: background-color 0.5s, color 0.5s, border 0.5s;
                  }
                }
              }
            }

            &__button-nav-container {
              @include SizeAndPositioning(absolute, max-content, max-content, flex, column, nowrap, space-evenly, center, 0, -50%, 0);
              top: 50%;
              right: 2rem;
              z-index: 10;
              &__button {
                @include SizingItem(relative, 1.5rem, 1.5rem);
                border-radius: 50%;
                margin: 1rem 0;
                transition: background-color 0.5s, border 0.5s, height 0.5s, width 0.5s;
                z-index: 5;
                &:hover {
                  cursor: pointer;
                }
                &--active {
                  @extend .about-flex-container__information-container__slide__container__button-nav-container__button;
                  height: 2rem;
                  width: 2rem;
                  &:hover {
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
        .about-flex-container__information-container__button-container {
          @include SizeAndPositioning(absolute, max-content, max-content, flex, row, nowrap, space-evenly, center, -50%, 0, 0);
          padding: 2rem;
          bottom: 0;
          left: 50%;
          &__button {
            @include SizingItem(relative, 3rem, 3rem);
            border-radius: 50%;
            margin: 0 1rem;
            transition: background-color 0.5s, border 0.5s;
            &:hover {
              cursor: pointer;
              border-color: $colorOffWhite;
              background-color: $colorOffWhite;
            }
            &--active {
              @extend .about-flex-container__information-container__button-container__button;
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

/////////////////////////////////
// DAY SETTINGS

.day {
  .pentagon {
    &__inside-ring {
      .pentagon-side {
        .grid {
          .flex-container {
            &--home,
            &--about,
            &--projects,
            &--resume,
            &--contact {
              .about-flex-container {
                &__introduction-container {
                  &__picture-frame {
                    &__picture {
                      border-color: $secondaryColor;
                    }
                  }
                }
                &__information-container {
                  border-color: $secondaryColor;
                  &__slide {
                    &__container {
                      &__inner-slide {
                        &__skill-container {
                          &__skill {
                            border-color: $secondaryColor;
                            &:hover {
                              background-color: $secondaryColor;
                              border-color: $secondaryColor;
                            }
                          }
                        }
                      }
                      &__button-nav-container {
                        &__button {
                          background-color: rgba($colorMidDarkGrey, 0.8);
                          border: 0.2rem solid rgba($colorDarkerGrey, 0.8);
                          &:hover {
                            border-color: rgba($secondaryColorLight, 0.8);
                            background-color: rgba($secondaryColorLight, 0.8);
                          }

                          &--active {
                            background-color: rgba($primaryColor, 0.8);
                            border-color: rgba($primaryColor, 0.8);
                            &:hover {
                              background-color: $primaryColor;
                              border-color: $primaryColor;
                            }
                          }
                        }
                      }
                    }
                  }
                  .about-flex-container__information-container__button-container {
                    &__button {
                      background-color: rgba($colorDarkerGrey, 0.8);
                      border: 0.2rem solid rgba($colorDarkerGrey, 0.8);
                      &:hover {
                        background-color: rgba($secondaryColorLight, 0.8);
                        border-color: rgba($secondaryColorLight, 0.8);
                      }
                      &--active {
                        @extend .about-flex-container__information-container__button-container__button;
                        border-color: rgba($secondaryColor, 0.8);
                        background-color: rgba($secondaryColor, 0.8);
                        &:hover {
                          border-color: $secondaryColor;
                          background-color: $secondaryColor;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/////////////////////////////////
// NIGHT SETTINGS

.night {
  .pentagon {
    &__inside-ring {
      .pentagon-side {
        .grid {
          .flex-container {
            &--home,
            &--about,
            &--projects,
            &--resume,
            &--contact {
              .about-flex-container {
                &__introduction-container {
                  &__picture-frame {
                    &__picture {
                      border-color: $primaryColor;
                    }
                  }
                }
                &__information-container {
                  border-color: $primaryColor;
                  &__slide {
                    &__container {
                      &__inner-slide {
                        &__skill-container {
                          &__skill {
                            border-color: $primaryColor;
                            &:hover {
                              background-color: $primaryColor;
                              border-color: $primaryColor;
                            }
                          }
                        }
                      }
                      &__button-nav-container {
                        &__button {
                          background-color: rgba($colorOffWhite, 0.8);
                          border: 0.2rem solid rgba($colorOffWhite, 0.8);
                          &:hover {
                            border-color: rgba($primaryColorLight, 0.8);
                            background-color: rgba($primaryColorLight, 0.8);
                          }

                          &--active {
                            background-color: rgba($secondaryColor, 0.8);
                            border-color: rgba($secondaryColor, 0.8);
                            &:hover {
                              background-color: $secondaryColor;
                              border-color: $secondaryColor;
                            }
                          }
                        }
                      }
                    }
                  }
                  .about-flex-container__information-container__button-container {
                    &__button {
                      background-color: rgba($colorOffWhite, 0.8);
                      border: 0.2rem solid rgba($colorOffWhite, 0.8);
                      &:hover {
                        border-color: rgba($primaryColorLight, 0.8);
                        background-color: rgba($primaryColorLight, 0.8);
                      }
                      &--active {
                        @extend .about-flex-container__information-container__button-container__button;
                        border-color: rgba($primaryColor, 0.8);
                        background-color: rgba($primaryColor, 0.8);
                        &:hover {
                          border-color: $primaryColor;
                          background-color: $primaryColor;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
