@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

.flex-container {
  &--home {
    @include SizeAndPositioning(relative, 100%, 100%, flex, column, space-between, center, center, 0, 0, 0);
  }
}

/////////////////////////////////
// DAY SETTINGS

.day {
  .introduction-container {
    .image-container {
      .image-frame {
        border-color: $primaryColor;
      }
    }
    &__introduction {
      .cta-container {
        .cta-link {
          background-color: rgba($secondaryColor, 0.8);
          &:hover {
            background-color: $secondaryColor;
          }
        }
      }
    }
  }
  .latest-project {
    border: 0.2rem solid $primaryColor;
    .connect--home {
      background-color: $primaryColor;
    }
    &__project-view {
      &__link-container {
        &__link {
          background-color: rgba($secondaryColor, 0.8);
          &:hover {
            background-color: $secondaryColor;
          }
        }
      }
    }
  }
}
/////////////////////////////////
// NIGHT SETTINGS

.night {
  .introduction-container {
    .image-container {
      .image-frame {
        border-color: $secondaryColor;
      }
    }
    &__introduction {
      .cta-container {
        .cta-link {
          background-color: rgba($primaryColor, 0.8);
          &:hover {
            background-color: $primaryColor;
          }
        }
      }
    }
  }
  .latest-project {
    border: 0.2rem solid $secondaryColor;
    .connect--home {
      background-color: $secondaryColor;
    }
    &__project-view {
      &__link-container {
        &__link {
          background-color: rgba($primaryColor, 0.8);
          &:hover {
            background-color: $primaryColor;
          }
        }
      }
    }
  }
}
