// TV - 48 / 24
// Desktop - 24 / 18
// Tablet Landscape - 18 / 12
// Tablet Portrait - 12 / 18
// Mobile Landscape - 12 / 10
// Mobile Portrait - 10 / 12

/*

Mobile Portrait:
- Small: 380px X 640px
- Large: 450px X 900px

Mobile Landscape:
- Small: 640px X 380px
- Large: 900px X 450px

Tablet Portrait:
- Small: 625px X 1024px
- Large: 850px X 1300px

Tablet Landscape:
- Small: 1000px X 625px
- Large: 1300px X 850px

*/

@use "../../../../Public/SCSS/Responsive/Utilities/Responsive-Mixins" as *;
@use "../../../../Public/SCSS/Responsive/Utilities/Responsive-Variables" as *;

.r__ {
  &vertical-flex-container {
    .r__flex-section {
      .r__grid-container {
        @include min-responsive(2500px) {
          @include grid-layout(100vh, 100vw, repeat(48, 1fr), repeat(24, 1fr), 0, 0);

          // Section Headers
          .r__section-header {
            grid-column: 8 / span 34;
            grid-row: 3 / span 4;
          }

          // Introduction Section
          .r__typing-text-container {
            grid-column: 4 / span 42;
            grid-row: 10 / span 4;
          }
          .r__introduction-button-container {
            grid-column: 4 / span 42;
            grid-row: 14 / span 4;
          }

          // About Section
          .r__about-me-container {
            grid-column: 3 / span 44;
            grid-row: 7 / span 13;
          }

          // Skills Section
          #skills {
            grid-column: 4 / span 42;
            grid-row: 7 / span 17;
            .skill-card {
              height: 50%;
            }
          }

          // Portfolio Section
          #project {
            grid-column: 4 / span 42;
            grid-row: 6 / span 17;
          }
          .r__project-count {
            grid-column: 23 / span 3;
            grid-row: 21 / span 1;
          }
          .r__contact-form {
            grid-column: 14 / span 22;
            grid-row: 6 / span 18;
          }
        }
        // Tablet Large Landscape
        @include combo-max-responsive(1400px, 1050px) {
          @include grid-layout(100vh, 100vw, repeat(18, 1fr), repeat(12, 1fr), 0, 0);

          // Section Headers
          .r__section-header {
            grid-column: 4 / span 12;
            grid-row: 2 / span 3;
          }

          // Introduction Section
          .r__typing-text-container {
            grid-column: 1 / -1;
            grid-row: 5 / span 3;
          }
          .r__introduction-button-container {
            grid-column: 3 / span 14;
            grid-row: 8 / span 2;
          }

          // About Section
          .r__about-me-container {
            grid-column: 1 / -1;
            grid-row: 4 / span 8;
          }

          // Skills Section
          #skills {
            grid-column: 1 / -1;
            grid-row: 4 / span 8;
          }

          // Portfolio Section
          #project {
            grid-column: 1 / -1;
            grid-row: 4 / span 8;
          }
          .r__project-count {
            grid-column: 9 / span 2;
            grid-row: 11 / span 1;
          }

          // Contact Section
          .r__contact-form {
            grid-column: 4 / span 12;
            grid-row: 4 / span 8;
          }
        }
        // Tablet Large Portrait
        @include combo-max-responsive(1050px, 1400px) {
          @include grid-layout(100vh, 100vw, repeat(12, 1fr), repeat(18, 1fr), 0, 0);

          .r__section-header {
            grid-column: 1 / -1;
          }

          // Introduction Section
          .r__typing-text-container {
            grid-column: 1 / -1;
            grid-row: 8 / span 3;
          }
          .r__introduction-button-container {
            grid-column: 1 / -1;
            grid-row: 11 / span 2;
          }

          // About Section
          .r__about-me-container {
            grid-column: 1 / -1;
            grid-row: 6 / span 12;
            &__option-slider {
              &--option {
                .r__about-me-video,
                #r__aboutMeVideo {
                  width: 70%;
                }
              }
            }
          }
          #skills {
            grid-column: 1 / -1;
            grid-row: 6 / span 12;
            .skill-card {
              height: 50%;
            }
          }

          #project {
            grid-column: 1 / -1;
            grid-row: 6 / span 12;
            .project-card {
              width: 90%;
            }
          }
          .project-count {
            grid-column: 6 / span 2;
            grid-row: 16 / span 1;
          }
          .contact-form {
            grid-column: 1 / -1;
            grid-row: 6 / span 12;
          }
        }

        // Tablet Small Landscape
        @include combo-max-responsive(1050px, 800px) {
          @include grid-layout(100vh, 100vw, repeat(18, 1fr), repeat(12, 1fr), 0, 0);

          // Introduction Section
          .r__typing-text-container {
            grid-column: 1 / -1;
            grid-row: 5 / span 3;
          }
          .r__introduction-button-container {
            grid-column: 1 / -1;
            grid-row: 8 / span 2;
          }

          // About Section
          .r__about-me-container {
            grid-column: 1 / -1;
            grid-row: 5 / span 8;
            &__option-slider {
              &--option {
                .r__about-me-video,
                #r__aboutMeVideo {
                  width: 100%;
                }
              }
            }
          }

          // Skills Section
          #skills {
            grid-column: 1 / -1;
            grid-row: 5 / span 8;
            padding-top: 1%;
            .skill-card {
              height: 80%;
            }
          }

          // Portfolio Section
          #project {
            grid-column: 1 / -1;
            grid-row: 5 / span 8;
            .project-card {
              width: 90%;
            }
          }
          .project-count {
            grid-column: 9 / span 2;
            grid-row: 12 / span 1;
          }
          .contact-form {
            grid-column: 1 / -1;
            grid-row: 4 / span 8;
          }
        }

        // Tablet Small Portrait
        @include combo-max-responsive(800px, 1050px) {
          @include grid-layout(100vh, 100vw, repeat(12, 1fr), repeat(18, 1fr), 0, 0);

          .r__section-header {
            grid-column: 1 / -1;
          }

          // Introduction Section
          .r__typing-text-container {
            grid-column: 1 / -1;
            grid-row: 8 / span 3;
          }
          .r__introduction-button-container {
            grid-column: 1 / -1;
            grid-row: 11 / span 2;
          }
        }

        // Mobile Large Landscape
        @include combo-max-responsive(930px, 425px) {
          @include grid-layout(100vh, 100vw, repeat(12, 1fr), repeat(10, 1fr), 0, 0);

          .r__section-header {
            grid-row: 3 / span 2;
            align-items: flex-start;
          }

          // About Section
          .r__about-me-container {
            grid-column: 1 / -1;
            grid-row: 5 / span 8;
            &__option-slider {
              &--option {
                .r__about-me-video,
                #r__aboutMeVideo {
                  width: 100%;
                }
              }
            }
          }

          // Skills Section
          #skills {
            grid-column: 1 / -1;
            grid-row: 5 / span 8;
            padding-top: 1%;
            .skill-card {
              height: 80%;
              width: 14rem;
            }
          }
          // Portfolio Section
          #project {
            grid-column: 1 / -1;
            grid-row: 5 / span 5;
            .project-card {
              height: 40%;
              width: 70%;
              align-self: start;
              &-content {
                &-link-container {
                  &--link {
                    height: 90%;
                  }
                }
              }
            }
          }
          .project-count {
            grid-column: 6 / span 2;
            grid-row: 10 / span 1;
          }
          #contact {
            grid-row: 2 / span 2;
          }
          .r__contact-form {
            grid-column: 1 / -1;
            grid-row: 5 / span 5;
          }
          overflow-y: auto;
        }

        // Mobile Large Portrait
        @include combo-max-responsive(425px, 930px) {
          @include grid-layout(100vh, 100vw, repeat(10, 1fr), repeat(12, 1fr), 0, 0);

          .r__typing-text-container {
            grid-column: 1 / -1;
            grid-row: 4 / span 3;
          }
          .r__typing-text--cursor,
          #introCursor {
            height: 30%;
            width: 0.5rem;
          }
          .r__introduction-button-container {
            grid-column: 1 / -1;
            grid-row: 7 / span 5;
            flex-direction: column;
            .r__introduction-button {
              height: 25%;
              width: 70%;
            }
          }

          // About Section
          .r__about-me-container {
            grid-column: 1 / -1;
            grid-row: 5 / span 6;
            &__option-slider {
              &--option {
                .r__about-typing-text-container {
                  .r__about-typing-text--cursor,
                  #aboutCursor {
                    height: 30%;
                    width: 0.5rem;
                  }
                }
                .r__about-me-video,
                #r__aboutMeVideo {
                  width: 100%;
                }
              }
            }
          }
          #skills {
            grid-row: 1 / -1;
            grid-row: 5 / span 7;
            .skill-card {
              height: 80%;
            }
            .card-button-left,
            .card-button-right {
              height: 5rem;
              width: 5rem;
              border: 0.2rem groove rgba($colorDarkGrey, 0.4);
            }
          }

          #project {
            grid-row: 1 / -1;
            grid-row: 4 / span 8;
            .project-card {
              flex-direction: column;
              height: 100%;
              padding-top: 14.5%;
              &-cover {
                height: 42.5%;
                width: 100%;
                margin-bottom: 2rem;
                &-image-container {
                  height: 100%;
                  width: 100%;
                }
              }
              &-content {
                height: 42.5%;
                width: 100%;
                padding: 0;
                &-description-container {
                  height: 100%;
                  width: 100%;
                  margin-bottom: 1rem;
                }
                &-link-container {
                  height: 25%;
                  width: 100%;
                  &--link {
                    height: 90%;
                    width: 40%;
                  }
                }
              }
            }
            .card-button-left,
            .card-button-right {
              height: 5rem;
              width: 5rem;
              border: 0.2rem groove rgba($colorDarkGrey, 0.4);
            }
          }
          .r__project-count {
            grid-column: 5 / span 2;
            grid-row: 12 / span 1;
          }

          .r__contact-form {
            grid-column: 1 / -1;
            grid-row: 4 / span 8;
          }
        }

        // Mobile Small Landscape
        @include combo-max-responsive(800px, 400px) {
          @include grid-layout(100vh, 100vw, repeat(12, 1fr), repeat(10, 1fr), 0, 0);

          // Introduction Section
          .r__typing-text-container {
            grid-column: 1 / -1;
            grid-row: 4 / span 3;
          }
          .r__introduction-button-container {
            grid-column: 1 / -1;
            grid-row: 7 / span 2;
          }

          #project {
            grid-column: 1 / -1;
            grid-row: 5 / span 5;
            overflow-y: auto;
            .project-card {
              height: 40%;
              width: 70%;
              align-self: start;
              &-content {
                &-link-container {
                  &--link {
                    height: 90%;
                  }
                }
              }
            }
          }
        }

        // Mobile Small Portrait
        @include combo-max-responsive(375px, 860px) {
          @include grid-layout(100vh, 100vw, repeat(10, 1fr), repeat(12, 1fr), 0, 0);
        }
      }
    }
  }
}
