// TV - 48 / 24
// Desktop - 24 / 18
// Tablet Landscape - 18 / 12
// Tablet Portrait - 12 / 18
// Mobile Landscape - 12 / 10
// Mobile Portrait - 10 / 12

/*

Mobile Portrait:
- Small: 380px X 640px
- Large: 450px X 900px

Mobile Landscape:
- Small: 640px X 380px
- Large: 900px X 450px

Tablet Portrait:
- Small: 625px X 1024px
- Large: 850px X 1300px

Tablet Landscape:
- Small: 1000px X 625px
- Large: 1300px X 850px

*/

@use "../../../../Public/SCSS/Responsive/Utilities/Responsive-Mixins" as *;

.r__ {
  &vertical-flex-container {
    .r__flex-section {
      .r__grid-container {
        @include min-responsive(2500px) {
          @include grid-layout(100vh, 100vw, repeat(48, 1fr), repeat(24, 1fr), 0, 0);
          .r__section-header {
            grid-column: 8 / span 34;
            grid-row: 3 / span 4;
          }
          .r__typing-text-container {
            grid-column: 4 / span 42;
            grid-row: 10 / span 4;
          }
          .r__introduction-button-container {
            grid-column: 4 / span 42;
            grid-row: 14 / span 4;
          }
          .r__about-me-container {
            grid-column: 3 / span 44;
            grid-row: 7 / span 13;
          }
        }
        // Tablet Large Landscape
        @include combo-max-responsive(1400px, 1050px) {
          @include grid-layout(100vh, 100vw, repeat(18, 1fr), repeat(12, 1fr), 0, 0);
        }
        // Tablet Small Landscape
        @include combo-max-responsive(1000px, 625px) {
          @include grid-layout(100vh, 100vw, repeat(18, 1fr), repeat(12, 1fr), 0, 0);
        }

        // Tablet Large Portrait
        @include combo-max-responsive(1050px, 1400px) {
          @include grid-layout(100vh, 100vw, repeat(12, 1fr), repeat(18, 1fr), 0, 0);
        }
        // Tablet Small Portrait
        @include combo-max-responsive(800px, 1050px) {
          @include grid-layout(100vh, 100vw, repeat(12, 1fr), repeat(18, 1fr), 0, 0);
        }

        // Mobile Large Landscape
        @include combo-max-responsive(930px, 425px) {
          @include grid-layout(100vh, 100vw, repeat(12, 1fr), repeat(10, 1fr), 0, 0);
        }
        // Mobile Small Landscape
        @include combo-max-responsive(800px, 400px) {
          @include grid-layout(100vh, 100vw, repeat(12, 1fr), repeat(10, 1fr), 0, 0);
        }

        // Mobile Large Portrait
        @include combo-max-responsive(425px, 930px) {
          @include grid-layout(100vh, 100vw, repeat(10, 1fr), repeat(12, 1fr), 0, 0);
        }
        // Mobile Small Portrait
        @include combo-max-responsive(375px, 860px) {
          @include grid-layout(100vh, 100vw, repeat(10, 1fr), repeat(12, 1fr), 0, 0);
        }
      }
    }
  }
}
