@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

.blog-header {
  @include SizeAndPositioning(relative, 30%, 100%, flex, column, nowrap, flex-start, center, 0, 0, 0);
  .blog-date {
    align-self: flex-start;
    transform: translate(60%, 40%);
    transition: color 0.5s;
  }
  .blog-title {
    transition: color 0.5s;
  }
  .blog-post-title {
    align-self: flex-end;
    transform: translate(-50%, -5%);
    transition: color 0.5s;
  }
}

.blog-content-container {
  @include SizeAndPositioning(relative, 70%, 100%, flex, column, nowrap, flex-start, center, 0, 0, 0);
  padding: 3rem 3rem 5rem 3rem;
  border-radius: 2rem;
  overflow-y: auto;
  transition: border 0.5s;
}

.blog-content {
  @include SizeAndPositioning(relative, max-content, 100%, flex, column, nowrap, flex-start, center, 0, 0, 0);
}

.blog-paragraph {
  position: relative;
  margin-bottom: 3rem;
}

.blog-video {
  @include SizingItem(relative, auto, 100%);
  margin-bottom: 3rem;
  &:hover {
    cursor: pointer;
  }
}

.blog-image {
  @include SizingItem(relative, 40rem, auto);
  margin-bottom: 3rem;
}

.blog-photos-container {
  @include SizeAndPositioning(relative, max-content, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);

  img {
    @include SizingItem(relative, 40rem, auto);
    margin: 0 1rem;
  }
}

/////////////////////////////////
// DAY SETTINGS

.day {
  .selected-blog-post {
    border-left: 0.3rem groove $primaryColor;
    border-right: 0.3rem groove $primaryColor;
  }
}
/////////////////////////////////
// NIGHT SETTINGS
.night {
  .selected-blog-post {
    border-left: 0.3rem groove $secondaryColor;
    border-right: 0.3rem groove $secondaryColor;
  }
}
