@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

.navigation-connection-button {
  margin-right: 2rem;
}

.button {
  &--circle {
    &__extra-small {
      @include SizeAndPositioning(relative, 4rem, 4rem, flex, row, nowrap, center, center, 0, 0, 0);
      min-width: 4rem;
      background-color: transparent;
      border-radius: 5rem;
    }
  }

  &--control-flow {
    @include SizeAndPositioning(absolute, 5rem, 5rem, flex, row, nowrap, center, center, 0, 0, 0);
    min-width: 5rem;
    border-radius: 5rem;

    &:hover {
      cursor: pointer;
      transition: background-color 0.5s, color 0.5s, border 0.5s;
    }
  }

  &-flow-left {
    transform: translate(-19rem, 0);
  }

  &-flow-right {
    transform: translate(23rem, 0);
  }

  &--search {
    @include SizeAndPositioning(relative, 100%, 15%, flex, row, nowrap, space-around, center, 0, 0, 0);
    padding: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
    &:hover {
      cursor: pointer;
    }
  }
}

/////////////////////////////////
// DAY SETTINGS

.day {
  .navigation {
    .connection-container {
      .button {
        &--circle {
          &__extra-small {
            background-color: rgba($primaryColorLighter, 0.8);
            border: 0.2rem groove rgba($colorDarkerGrey, 0.8);
            &:hover {
              cursor: pointer;
              background-color: $primaryColor;
              border: 0.2rem groove $colorDarkerGrey;
              transition: color 0.5s, background-color 0.5s, border 0.5s;
            }
            &:active {
              border: 0.2rem inset $colorOffWhite;
              background-color: $tertiaryColor;
            }
          }
        }
      }
    }
  }
  .interests-container {
    .interests-grid {
      .cylinder-wall {
        .button {
          &--control-flow {
            background-color: rgba($secondaryColorDark, 0.8);
            border: 0.2rem outset rgba($secondaryColorDarker, 0.8);

            &:hover {
              background-color: $secondaryColor;
              border: 0.2rem outset $secondaryColorLighter;
            }

            &:active {
              background-color: $tertiaryColor;
              border: 0.2rem inset $tertiaryColorDarker;
            }
          }
        }
      }
    }
  }
  .blog {
    .blog-search-container {
      .button--search {
        border: 0.2rem solid rgba($primaryColor, 0.8);
        background-color: rgba($primaryColorDark, 0.8);
        &:hover {
          border: 0.2rem solid $primaryColor;
          background-color: $primaryColor;
        }
      }
    }
  }
}
/////////////////////////////////
// NIGHT SETTINGS
.night {
  .navigation {
    .connection-container {
      .button {
        &--circle {
          &__extra-small {
            background-color: rgba($secondaryColorLight, 0.8);
            border: 0.2rem groove rgba($colorOffWhite, 0.8);
            &:hover {
              cursor: pointer;
              background-color: $secondaryColor;
              border: 0.2rem groove $colorOffWhite;
              transition: color 0.5s, background-color 0.5s, border 0.5s;
            }
            &:active {
              border: 0.2rem inset $colorDarkerGrey;
              background-color: $primaryColor;
            }
          }
        }
      }
    }
  }
  .interests-container {
    .interests-grid {
      .cylinder-wall {
        .button {
          &--control-flow {
            background-color: rgba($primaryColorDark, 0.8);
            border: 0.2rem outset rgba($primaryColorDarker, 0.8);

            &:hover {
              background-color: $primaryColor;
              border: 0.2rem outset $primaryColorLighter;
            }

            &:active {
              background-color: $primaryColor;
              border: 0.2rem inset $primaryColorDarker;
            }
          }
        }
      }
    }
  }
  .blog {
    .blog-search-container {
      .button--search {
        border: 0.2rem solid rgba($secondaryColor, 0.8);
        background-color: rgba($secondaryColorDark, 0.8);
        &:hover {
          border: 0.2rem solid $secondaryColor;
          background-color: $secondaryColor;
        }
      }
    }
  }
}
