@use "../../../Public/SCSS/Utilities/Mixins" as *;
@use "../../../Public/SCSS/Utilities/Variables" as *;

////////////////////////////////////////////////
//  Master Grid Container
.master-grid {
  .master-flex-container {
    &__child-flex-container {
      .cta-button {
        @include SizeAndPositioning(relative, 20%, 35%, flex, center, center, -16.5rem, 1rem, 0);
        border: 0.3rem solid rgba($secondaryColor, 0.75);
        border-radius: 1.5rem;
        align-self: flex-end;
        transition: color 0.5s, background-color 0.5s, border 0.5s;
        -moz-transform: translate(-15rem, 1rem);
        &:hover {
          background-color: $secondaryColor;
          border: 0.3rem solid $secondaryColor;
        }
      }
    }
    .about-me {
      &-statement-slider {
        .card-button {
          &-left,
          &-right {
            @include SizeAndPositioning(relative, 20%, 10%, flex, center, center, 0, 0, 0);
            border: 0.3rem outset rgba($secondaryColor, 0.75);
            border-radius: 5rem;
            background-color: transparent;
            transition: color 0.5s, background-color 0.5s;
            &:hover {
              cursor: pointer;
              background-color: $secondaryColor;
            }
            &:active {
              border: 0.3rem inset rgba($secondaryColor, 0.75);
            }
          }
        }
      }
    }
  }
}
