@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

.navigation-connection-button {
  margin-right: 2rem;
}

.button--circle {
  &__extra-small {
    @include SizeAndPositioning(relative, 4rem, 4rem, flex, row, nowrap, center, center, 0, 0, 0);
    min-width: 4rem;
    background-color: transparent;
    border-radius: 5rem;
  }
}

/////////////////////////////////
// DAY SETTINGS

.day {
  .navigation {
    .connection-container {
      .button--circle {
        &__extra-small {
          background-color: rgba($primaryColorLighter, 0.8);
          border: 0.2rem groove rgba($colorDarkerGrey, 0.8);
          &:hover {
            cursor: pointer;
            background-color: $primaryColor;
            border: 0.2rem groove $colorDarkerGrey;
            transition: color 0.5s, background-color 0.5s, border 0.5s;
          }
          &:active {
            border: 0.2rem inset $colorOffWhite;
            background-color: $tertiaryColor;
          }
        }
      }
    }
  }
}
/////////////////////////////////
// NIGHT SETTINGS
.night {
  .navigation {
    .connection-container {
      .button--circle {
        &__extra-small {
          background-color: rgba($secondaryColorLight, 0.8);
          border: 0.2rem groove rgba($colorOffWhite, 0.8);
          &:hover {
            cursor: pointer;
            background-color: $secondaryColor;
            border: 0.2rem groove $colorOffWhite;
            transition: color 0.5s, background-color 0.5s, border 0.5s;
          }
          &:active {
            border: 0.2rem inset $colorDarkerGrey;
            background-color: $primaryColor;
          }
        }
      }
    }
  }
}
