@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

.flex-container {
  @include SizeAndPositioning(relative, 100%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
  &--home {
    @extend .flex-container;
    flex-direction: column;
    justify-content: space-between;
  }
  &--about {
    @extend .flex-container;
    .about-flex-container {
      @include SizeAndPositioning(relative, 60%, 60%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
      &__introduction-container {
        @include SizeAndPositioning(relative, 100%, 50%, flex, column, nowrap, space-evenly, center, 0, 0, 0);
        &__picture-frame {
          @include SizeAndPositioning(relative, 75%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
          overflow: hidden;
          border-radius: 50%;
          &__picture {
            @include SizingItem(relative, 100%, auto);
            border-radius: 50%;
          }
        }
        &__button-container {
          @include SizeAndPositioning(relative, 25%, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
        }
      }
      &__information-container {
        @include SizeAndPositioning(relative, 100%, 50%, flex, center, nowrap, space-evenly, center, 0, 0, 0);
        border: 0.2rem groove rgba($colorOffWhite, 0.8);
        border-radius: 1.5rem;
        &__left-door,
        &__right-door {
          @include SizeAndPositioning(absolute, 100%, 50%, flex, row, nowrap, center, center, 0, 0, 0);
          transition: width 0.5s, opacity 0.75s;
          background-color: rgba($colorOffWhite, 0.125);
        }
        &__left-door {
          top: 0;
          left: 0;
          border-right: 0.2rem groove rgba($colorOffWhite, 0.125);
          border-top-left-radius: 1rem;
          border-bottom-left-radius: 1rem;
        }
        &__right-door {
          top: 0;
          right: 0;
          border-left: 0.2rem groove rgba($colorOffWhite, 0.125);
          border-top-right-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }
        .door-open {
          &:first-of-type {
            width: 0;
            opacity: 0;
          }
          &:last-of-type {
            width: 0;
            opacity: 0;
          }
        }
      }
    }
  }
  &--projects {
    @extend .flex-container;
  }
  &--resume {
    @extend .flex-container;
  }
  &--contact {
    @extend .flex-container;
  }
}
