@use "../../../Public/SCSS/Utilities/Mixins" as *;
@use "../../../Public/SCSS/Utilities/Variables" as *;

////////////////////////////////////////////////
//  Vertical Flex Container

.vertical-flex-container {
  ////////////////////////////////////////////////
  //  Navigation

  ////////////////////////////////////////////////
  //  Flex Section
  .flex-section {
    .grid-container {
      .contact-form {
        @include SizeAndPositioning(relative, 100%, 100%, flex, space-evenly, center, 0, 0, 0);
        flex-direction: column;

        &-message-container {
          @include SizeAndPositioning(relative, 7.5%, 100%, flex, space-evenly, center, 0, 0, 0);
          &--error {
            margin-bottom: 2.75rem;
          }
        }

        &-name-container {
          @include SizeAndPositioning(relative, 7.5%, 100%, flex, space-evenly, center, 0, 0, 0);
          margin: 1.25rem 0 1.25rem;
          &--first-name,
          &--last-name {
            @include SizeAndPositioning(relative, 100%, 40%, flex, center, center, 0, 0, 0);
            flex-direction: column-reverse;
            .first-name,
            .last-name {
              @include SizeAndPositioning(relative, 100%, 100%, flex, center, center, 0, 0, 0);
              background-color: transparent;
              border: 0.3rem groove rgba($secondaryColor, 0.75);
              padding: 1rem;
              &:focus {
                outline: none;
              }
              &:focus::-webkit-input-placeholder,
              &:focus::placeholder {
                opacity: 1;
              }
              &:not(:placeholder-shown) + label,
              &:focus + label {
                transform: translate(-8.5rem, -3.35rem) scale(0.85);
              }
              &-label {
                @include SizeAndPositioning(absolute, 40%, 60%, flex, center, center, 0, 0, 0);
                transition: transform 0.75s;
                transform: translate(-6.5rem, 0);
              }
            }
          }
        }

        &-organization-container {
          @include SizeAndPositioning(relative, 7.5%, 100%, flex, space-evenly, center, 0, 0, 0);
          margin: 1.25rem 0 1.25rem;
          &--organization,
          &--position {
            @include SizeAndPositioning(relative, 100%, 40%, flex, center, center, 0, 0, 0);
            flex-direction: column-reverse;
            .organization-name,
            .position-name {
              @include SizeAndPositioning(relative, 100%, 100%, flex, center, center, 0, 0, 0);
              background-color: transparent;
              border: 0.3rem groove rgba($secondaryColor, 0.75);
              padding: 1rem;
              &:focus {
                outline: none;
              }
              &:focus::-webkit-input-placeholder,
              &:focus::placeholder {
                opacity: 1;
              }
              &:not(:placeholder-shown) + label,
              &:focus + label {
                transform: translate(-8.25rem, -3.35rem) scale(0.85);
              }
              &-label {
                @include SizeAndPositioning(absolute, 40%, 80%, flex, center, center, 0, 0, 0);
                transition: transform 0.75s;
                transform: translate(-6rem, 0);
              }
            }
            .position-name {
              &:not(:placeholder-shown) + label,
              &:focus + label {
                transform: translate(-10.25rem, -3.35rem) scale(0.85);
              }
              &-label {
                transform: translate(-8.25rem);
              }
            }
          }
        }

        &-email-container {
          @include SizeAndPositioning(relative, 7.5%, 86.75%, flex, center, center, 0, 0, 0);
          flex-direction: column-reverse;
          margin: 1.25rem 0 1.25rem;
          .email {
            @include SizeAndPositioning(relative, 100%, 100%, flex, center, center, 0, 0, 0);
            background-color: transparent;
            border: 0.3rem groove rgba($secondaryColor, 0.75);
            padding: 1rem;
            &:focus {
              outline: none;
            }
            &:focus::-webkit-input-placeholder,
            &:focus::placeholder {
              opacity: 1;
            }
            &:not(:placeholder-shown) + label,
            &:focus + label {
              transform: translate(-30rem, -3.35rem) scale(0.85);
            }
            &-label {
              @include SizeAndPositioning(absolute, 40%, 40%, flex, center, center, 0, 0, 0);
              transition: transform 0.75s;
              transform: translate(-28rem, 0);
            }
          }
        }
        &-subject-container {
          @include SizeAndPositioning(relative, 7.5%, 86.75%, flex, center, center, 0, 0, 0);
          flex-direction: column-reverse;
          margin: 1.25rem 0 1.25rem;
          .subject {
            @include SizeAndPositioning(relative, 100%, 100%, flex, center, center, 0, 0, 0);
            background-color: transparent;
            border: 0.3rem groove rgba($secondaryColor, 0.75);
            padding: 1rem;
            &:focus {
              outline: none;
            }
            &:focus::-webkit-input-placeholder,
            &:focus::placeholder {
              opacity: 1;
            }
            &:not(:placeholder-shown) + label,
            &:focus + label {
              transform: translate(-32.5rem, -3.35rem) scale(0.85);
            }
            &-label {
              @include SizeAndPositioning(absolute, 40%, 40%, flex, center, center, 0, 0, 0);
              transition: transform 0.75s;
              transform: translate(-31rem, 0);
            }
          }
        }
        &-text-message-container {
          @include SizeAndPositioning(relative, 30%, 86.75%, flex, center, center, 0, 0, 0);
          flex-direction: column-reverse;
          margin: 2rem 0 2rem;
          .message {
            @include SizeAndPositioning(relative, 100%, 100%, flex, center, center, 0, 0, 0);
            background-color: transparent;
            border: 0.3rem groove rgba($secondaryColor, 0.75);
            padding: 1rem;
            &:focus {
              outline: none;
            }
            &:focus::-webkit-input-placeholder,
            &:focus::placeholder {
              opacity: 1;
            }
            &:not(:placeholder-shown) + label,
            &:focus + label {
              transform: translate(-32.75rem, -10.65rem) scale(0.85);
            }
            &-label {
              @include SizeAndPositioning(absolute, 20%, 25%, flex, center, center, 0, 0, 0);
              transition: transform 0.75s;
              transform: translate(-31.25rem, -7rem);
            }
            resize: none;
          }
        }
        &-submit-container {
          @include SizeAndPositioning(relative, 5rem, 100%, flex, center, center, 0, 0, 0);
          margin: 2rem 0 2rem;
          .submit-message-button {
            @include SizeAndPositioning(relative, 100%, 30%, flex, center, center, 0, 0, 0);
            background-color: rgba($secondaryColor, 0.8);
            border: 0.3rem groove rgba($secondaryColor, 0.75);
            transition: background-color 0.5s, border 0.5s, color 0.5s;
            &:hover {
              cursor: pointer;
              background-color: $secondaryColor;
              border: 0.3rem groove $secondaryColor;
            }
            &:active {
              background-color: $primaryColor;
              border: 0.3rem groove $primaryColor;
              outline: none;
            }
          }
        }

        .input-good {
          border: 0.3rem groove #008013;
        }
        .input-bad {
          border: 0.3rem groove #cf352e;
        }
        .input-warning {
          border: 0.3rem groove $primaryColor;
        }

        ::-webkit-input-placeholder,
        ::placeholder {
          opacity: 0;
          transition: all 0.75s;
        }
      }
    }
  }
}
