@use "../../../Public/SCSS/Utilities/Mixins" as *;
@use "../../../Public/SCSS/Utilities/Variables" as *;

 ////////////////////////////////////////////////
 //  Vertical Flex Container

 .vertical-flex-container {

    ////////////////////////////////////////////////
    //  Navigation
    
    ////////////////////////////////////////////////
    //  Flex Section
 
    .flex-section {
        
        .grid-container {
            position: relative;
            display: grid;
            @include gridLayout(100vh, 100vw, repeat(24, 1fr), repeat(18, 1fr), 0, 0);
            @include gridPlacement(24, 24, 18, 18);
            transition: transform 1s, opacity 1s;
        }

        .grid-container--hidden {
            @include SizeAndPositioning(relative, 100vh, 100vw, flex, center, center, 0, 10rem, 0);
            visibility: hidden;
            opacity: 0;
        }

    }
 
 }