@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

.latest-blog-post {
  @include SizeAndPositioning(relative, 100%, 100%, flex, column, nowrap, space-evenly, center, 0, 0, 0);
  border-radius: 2rem;
}

.blog-link-container {
  @include SizeAndPositioning(absolute, max-content, max-content, flex, row, nowrap, space-evenly, center, 0, 0, 0);
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 1.5rem;
  bottom: 0;
  right: 0;
  padding: 0 2rem;

  &--cta-link {
    @include SizeAndPositioning(relative, max-content, 50%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
    padding: 1rem;
    border-radius: 5rem;
    &:not(:last-of-type) {
      margin-right: 2rem;
    }
    &:hover {
      cursor: pointer;
      transition: background-color 0.5s, color 0.5s;
    }
  }
}

/////////////////////////////////
// DAY SETTINGS
.day {
  .latest-blog-post {
    border: 0.2rem groove rgba($secondaryColor, 0.5);
    .blog-link-container {
      background-color: rgba($colorDarkerGrey, 0.2);
      &--cta-link {
        background-color: rgba($primaryColor, 0.8);
        &:hover {
          background-color: $primaryColor;
        }
      }
    }
    .blog-content-container {
      .blog-content {
        .blog-paragraph {
          // border-bottom: 0.3rem groove rgba($colorOffWhite, 0.5);
        }
        .blog-quote {
          background-color: rgba($colorLightGrey, 0.25);
          border-radius: 0.5rem;
        }
      }
    }
  }
}

/////////////////////////////////
// NIGHT SETTINGS
.night {
  .latest-blog-post {
    border: 0.2rem groove rgba($primaryColor, 0.5);
    .blog-link-container {
      background-color: rgba($colorOffWhite, 0.2);
      &--cta-link {
        background-color: rgba($secondaryColor, 0.8);
        &:hover {
          background-color: $secondaryColor;
        }
      }
    }
    .blog-content-container {
      .blog-content {
        .blog-paragraph {
          // border-bottom: 0.3rem groove rgba($colorOffWhite, 0.5);
        }
        .blog-quote {
          border-radius: 0.5rem;
          background-color: rgba($secondaryColorDark, 0.25);
        }
      }
    }
  }
}
