@use "../../../Public/SCSS/Utilities/Mixins" as *;
@use "../../../Public/SCSS/Utilities/Variables" as *;

 ////////////////////////////////////////////////
 //  Vertical Flex Container

 .vertical-flex-container {

 ////////////////////////////////////////////////
 //  Navigation

 .navigation {
  @include SizeAndPositioning(absolute, 9rem, 100vw, flex, space-between, center, 0, 0, 0);
  background-color: rgba($colorSilver, .4);
  border-bottom: .4rem groove rgba($colorDarkGrey, .8);
  z-index: 10;

  ////////////////////////////////////////////////
  //  Navigation Logo

  &__logo {
    @include SizeAndPositioning(relative, 100%, 20%, flex, space-evenly, center, 0, 0, 0);
    margin-left: 6rem;
    &__logoImg {
        @include SizeAndPositioning(relative, 100%, 20%, flex, center, center, 0, 0, 0);
        img {
            @include SizingItem(relative, 70%, 100%);
        }
    }
    &__logoText {
      margin-left: -2rem;
    }
  }

  ////////////////////////////////////////////////
  //  Navigation Links

  &__links {
    @include SizeAndPositioning(relative, 100%, 25%, flex, space-evenly, center, 0, 0, 0);
    margin-right: 18rem;
    &--linkItem {
      @include SizeAndPositioning(relative, 98%, 100%, flex, center, center, 0, 0, 0);
      padding: 0 1rem;
      list-style: none;
      &:not(:last-of-type){
        margin-right: 1.5rem;
      }
      &__link {
        &:hover {
          cursor: pointer;
        }
        transition: opacity .5s;
      }
    }
  }
 }

 .navigation--sticky {
   position: fixed;
   background-color: rgba($secondaryColor, .95);
   box-shadow: -.5rem .5rem .5rem $colorDarkestGrey;
   border-bottom: none;
   animation: fadeInDown .25s linear;
  //  color: $colorOffWhite;
 }

}