@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

////////////////////////////////////////////////
//  Master Grid Container
.master-grid {
  .navigation {
    @include SizeAndPositioning(relative, 100%, 100%, flex, space-evenly, center, 0, 0, 0);
    flex-direction: column;
    background-color: $secondaryColor;
    border-right: 0.4rem groove $colorDarkGrey;
    &__my-image {
      @include SizingItem(relative, auto, 55%);
      padding: 0.5rem;
      background-color: rgba($colorOffWhite, 0.9);
      border: 0.3rem groove $colorOffWhite;
      border-radius: 0.3rem;
    }
    &__links {
      @include SizeAndPositioning(relative, 35%, 80%, flex, space-evenly, center, 0, 0, 0);
      flex-direction: column;
    }
    &__my-logo {
      @include SizingItem(relative, auto, 25%);
    }
    &-menu-button,
    &-mobile,
    &-mobile-close {
      display: none;
    }
  }
}
