@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

.time-toggle {
  @include SizeAndPositioning(relative, 100%, 10%, flex, row, nowrap, center, center, 0, 0, 0);
  top: 50%;
  right: 1rem;
  transform: translate(0, -50%);
  padding: 0.2rem;
  border-radius: 5rem;
  &:hover {
    cursor: pointer;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
  }
  &__text {
    z-index: 10;
  }
  &__switch {
    @include SizeAndPositioning(absolute, 95%, 25%, flex, row, nowrap, center, center, 0, -50%, 0);
    top: 50%;
    left: 1%;
    border-radius: 5rem;
    transition: transform 0.5s;
    margin-right: 1rem;
    transition: width 1s, background-color 0.5s, border 0.5s, transform 0.5s;
    &:hover {
      cursor: pointer;
      transition: background-color 0.5s, border 0.5s, transform 0.5s;
    }
    &--switched {
      width: 98%;
      transition: width 0.5s, background-color 0.5s, border 0.5s, transform 0.5s;
      &:hover {
        cursor: pointer;
        transition: width 1s, background-color 0.5s, border 0.5s, transform 0.5s;
      }
    }
  }
}

/////////////////////////////////
// DAY SETTINGS
.day {
  .overhead-container {
    .time-toggle {
      background-color: rgba($colorLighterGrey, 0.75);
      border: 0.2rem inset $primaryColorLight;
      &__switch {
        background-color: rgba($tertiaryColor, 0.9);
        left: 1%;
        &:hover {
          background-color: $tertiaryColor;
        }
        &--switched {
          width: 98%;
        }
      }
    }
  }
}

/////////////////////////////////
// NIGHT SETTINGS
.night {
  .overhead-container {
    .time-toggle {
      background-color: rgba($colorDarkestGrey, 0.75);
      border: 0.2rem inset $secondaryColorLight;
      &__switch {
        background-color: rgba($secondaryColorDark, 0.9);
        left: 1%;
        &:hover {
          background-color: $secondaryColorLight;
        }
        &--switched {
          width: 98%;
        }
      }
    }
  }
}
