@use '../../../../../Public/SCSS/Utilities/Variables' as *;
@use '../../../../../Public/SCSS/Utilities/Mixins' as *;

.cta-container {
  @include SizeAndPositioning(relative, 40%, 100%, flex, row, nowrap, flex-end, flex-start, 0, 0, 0);
  padding-right: 9rem;
}

.cta-link {
  @include SizeAndPositioning(relative, 4rem, max-content, flex, row, nowrap, space-evenly, center, 0, 0, 0);
  padding: 1rem 2rem;
  border-radius: 5rem;
  transition: background-color 0.5s;
  &:not(:last-of-type) {
    margin-right: 2rem;
  }
  &:hover {
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
  }
}

.cta-icon {
  margin-right: 2rem;
}
